<mat-nav-list>
  <a routerLink="/home">
    <img class="logo_img" [src]="returnLogoUrl()" alt="" />
  </a>

  <!-- Dashboard/Home -->
  <a
    mat-list-item
    class="text-grey text-sm"
    (click)="toggleSideMenu()"
    [routerLink]="['/dashboard']"
    routerLinkActive="router-link-active"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon svgIcon="home"></mat-icon>
        <span class="pl-2" i18n="@@loco:5f4e2bbdd941a14c484b2fe4">Home</span>
      </div>
    </div>
  </a>

  <!-- Transact -->
  <a
    mat-list-item
    class="text-grey text-sm"
    [routerLink]="['/transact']"
    routerLinkActive="router-link-active"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon class="menu-icon" svgIcon="transact"></mat-icon>
        <span class="pl-2" i18n="@@loco:5e73216ec38e0f0c8a705b42">
          Transact
        </span>
      </div>
    </div>
  </a>

  <!-- Borrow -->
  <a
    mat-list-item
    class="text-grey text-sm"
    [routerLink]="['/borrow']"
    routerLinkActive="router-link-active"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon class="menu-icon" svgIcon="borrow-unselected"> </mat-icon>
        <span class="pl-2" i18n="@@loco:60cc69138e242b09a24eb47d">
          Borrow
        </span>
      </div>
    </div>
  </a>

  <!-- Service request -->
  <a
    mat-list-item
    class="text-grey text-sm"
    [routerLink]="['/service-request']"
    routerLinkActive="router-link-active"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon class="menu-icon" svgIcon="transact"> </mat-icon>
        <span class="pl-2" i18n="@@loco:60cc69138e242b09a24eb47d">
          Service Request
        </span>
      </div>
    </div>
  </a>

  <!-- User management -->
  <a
    mat-list-item
    class="text-grey text-sm"
    [routerLink]="['/user-management']"
    routerLinkActive="router-link-active"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon class="menu-icon" svgIcon="transact"> </mat-icon>
        <span class="pl-2"> User management </span>
      </div>
    </div>
  </a>

  <mat-divider class="ml-4"></mat-divider>

  <!-- More -->
  <a
    mat-list-item
    class="text-grey text-sm"
    [routerLink]="['/more']"
    routerLinkActive="router-link-active"
    (click)="toggleSideMenu()"
  >
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon svgIcon="nav_more"></mat-icon>
        <span class="pl-2">More</span>
      </div>
    </div>
  </a>

  <!-- Language -->
  <a mat-list-item class="text-grey text-sm" (click)="openLanguageModal()">
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon svgIcon="localization"></mat-icon>
        <span class="pl-2 text-truncate">{{ language.langDesc }}</span>
      </div>
    </div>
  </a>

  <!-- Sign Out -->
  <a mat-list-item class="text-grey text-sm" (click)="logout()">
    <div class="row pl-3">
      <div class="col-12">
        <mat-icon svgIcon="logout"></mat-icon>
        <span class="pl-2">Sign out</span>
      </div>
    </div>
  </a>
</mat-nav-list>
