<div class="row">
    <div class="col-md-12">
      <div class="row mb-4 justify-content-md-center">
        <div class="col-md-11">
          <div class="mb-3">
            <button
              mat-icon-button
              aria-label="Back"
              class="back-icon"
              (click)="goBack()"
            >
              <div class="strong-text">
                <mat-icon svgIcon="caret_left"></mat-icon>
                <span>Roles</span>
              </div>
            </button>
          </div>
          <div class="row mt-3">
            <div class="d-flex justify-content-between">
                <h3>Initiator</h3>
                <div>
                    <a class="text-sm" [innerText]="'Show more'"></a>
                    <mat-icon [svgIcon]="'caret_down'" color="primary"></mat-icon>
                </div>
            </div>
            <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.INITIATOR.TRANSACTIONS)">
              <div class="col-1 my-auto">
                  <div class="icon-container">
                      <mat-icon [svgIcon]="'transact'" color="primary"></mat-icon>
                  </div>
              </div>              
              <div class="col-10 offset-1 product-list-item-label" >
                <div class="row h-100 justify-content-around align-items-center">
                    <div class="col-10 float-left text-truncate">
                        <h4>Initiate Transactions</h4>
                        <p class="text-grey text-sm">For selected accounts</p>
                    </div>
                    <div class="col-2 float-right toggle-container">
                          <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.INITIATOR.TRANSACTIONS)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                    </div>
                </div>
              </div>
            </div>
            <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.INITIATOR.UPLOAD_PAYMENT_FILE)">
              <div class="col-1 my-auto">
                  <div class="icon-container">
                      <mat-icon [svgIcon]="'upload'" color="primary"></mat-icon>
                  </div>
              </div>              
              <div class="col-10 offset-1 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center">
                    <div class="col-10 float-left text-truncate">
                        <h4>Upload payment file</h4>
                        <p class="text-grey text-sm">For selected accounts</p>
                    </div>
                    <div class="col-2 float-right toggle-container">
                          <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.INITIATOR.UPLOAD_PAYMENT_FILE)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                    </div>
                </div>
            </div> 
          </div>
          <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.INITIATOR.RECEIVE_NOTIFICATIONS)">
              <div class="col-1 my-auto">
                  <div class="icon-container">
                      <mat-icon [svgIcon]="'notification'" color="primary"></mat-icon>
                  </div>
              </div>              
              <div class="col-10 offset-1 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center">
                    <div class="col-10 float-left text-truncate">
                        <h4>Receive notifications</h4>
                        <p class="text-grey text-sm">For selected accounts</p>
                    </div>
                    <div class="col-2 float-right toggle-container">
                          <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.INITIATOR.RECEIVE_NOTIFICATIONS)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                    </div>
                </div>
             </div> 
            </div>
            <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.INITIATOR.VIEW_BALANCES)">
                <div class="col-1 my-auto">
                    <div class="icon-container">
                        <mat-icon [svgIcon]="'view_statement'" color="primary"></mat-icon>
                    </div>
                </div>              
                <div class="col-10 offset-1 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center">
                    <div class="col-10 float-left text-truncate">
                        <h4>View Balances</h4>
                        <p class="text-grey text-sm">For selected accounts</p>
                    </div>
                    <div class="col-2 float-right toggle-container">
                            <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.INITIATOR.VIEW_BALANCES) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                    </div>
                </div>
            </div> 
            </div>
            </div>
            <div class="row mt-5">
                <div class="d-flex justify-content-between">
                    <h3>Approvers</h3>
                    <div>
                        <a class="text-sm" [innerText]="'Show more'"></a>
                        <mat-icon [svgIcon]="'caret_down'" color="primary"></mat-icon>
                    </div>
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.APPROVER.APPROVE_PAYMENTS)">
                <div class="col-1 my-auto">
                    <div class="icon-container">
                        <mat-icon [svgIcon]="'pay'" color="primary"></mat-icon>
                    </div>
                </div>              
                <div class="col-10 offset-1 product-list-item-label" >
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Approve Payments</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                            <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.APPROVER.APPROVE_PAYMENTS)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.APPROVER.VIEW_BALANCES)">
                <div class="col-1 my-auto">
                    <div class="icon-container">
                        <mat-icon [svgIcon]="'view_statement'" color="primary"></mat-icon>
                    </div>
                </div>              
                <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>View Balances</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                            <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.APPROVER.VIEW_BALANCES)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.APPROVER.RECEIVE_NOTIFICATIONS)">
                <div class="col-1 my-auto">
                    <div class="icon-container">
                        <mat-icon [svgIcon]="'notification'" color="primary"></mat-icon>
                    </div>
                </div>              
                <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Receive Notifications</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                            <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.APPROVER.RECEIVE_NOTIFICATIONS)? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.APPROVER.GENERATE_STATEMENTS)">
                <div class="col-1 my-auto">
                    <div class="icon-container">
                        <mat-icon [svgIcon]="'view_statement'" color="primary"></mat-icon>
                    </div>
                </div>              
                <div class="col-10 offset-1 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center">
                    <div class="col-10 float-left text-truncate">
                        <h4>Generate Statements</h4>
                        <p class="text-grey text-sm">For selected accounts</p>
                    </div>
                    <div class="col-2 float-right toggle-container">
                            <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.APPROVER.GENERATE_STATEMENTS) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                    </div>
                </div>
                </div> 
            </div>
        </div>
            <div class="row mt-5">
                <div class="d-flex justify-content-between">
                    <h3>Super Admin</h3>
                    <div>
                        <a class="text-sm" [innerText]="'Show more'"></a>
                        <mat-icon [svgIcon]="'caret_down'" color="primary"></mat-icon>
                    </div>
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.SUPER_ADMIN.CREATE_USERS)">
                    <div class="col-1 my-auto">
                        <div class="icon-container">
                            <mat-icon [svgIcon]="'create_user'" color="primary"></mat-icon>
                        </div>
                    </div>              
                    <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Create users</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                                <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.SUPER_ADMIN.CREATE_USERS) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                    </div> 
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.SUPER_ADMIN.MODIFY_USERS)">
                    <div class="col-1 my-auto">
                        <div class="icon-container">
                            <mat-icon [svgIcon]="'edit'" color="primary"></mat-icon>
                        </div>
                    </div>              
                    <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Modify Users</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                                <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.SUPER_ADMIN.MODIFY_USERS) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                    </div> 
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.SUPER_ADMIN.DELETE_USERS)">
                    <div class="col-1 my-auto">
                        <div class="icon-container">
                            <mat-icon [svgIcon]="'delete-documents'" color="primary"></mat-icon>
                        </div>
                    </div>              
                    <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Delete Users</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                                <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.SUPER_ADMIN.DELETE_USERS) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                    </div> 
                </div>
                <div class="row product-list-item col-md-6 mt-3" (click)="toggle(roleList.ROLES.SUPER_ADMIN.BLOCK_USERS)">
                    <div class="col-1 my-auto">
                        <div class="icon-container">
                            <mat-icon [svgIcon]="'user_profile'" color="primary"></mat-icon>
                        </div>
                    </div>              
                    <div class="col-10 offset-1 product-list-item-label">
                    <div class="row h-100 justify-content-around align-items-center">
                        <div class="col-10 float-left text-truncate">
                            <h4>Block/unblock Users</h4>
                            <p class="text-grey text-sm">For selected accounts</p>
                        </div>
                        <div class="col-2 float-right toggle-container">
                                <mat-icon [svgIcon]="isRoleActive(roleList.ROLES.SUPER_ADMIN.BLOCK_USERS) ? 'toggle_button_on':'toggle_button_off'"></mat-icon>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <button mat-raised-button color="primary" class="mt-5 col-md-3" (click)="save();">Save</button>
            </div>
      </div>   
    </div>
</div>
  