<div class="row">
  <div class="col-md-6">
    <img
      class="img-fluid mt-4 mb-4"
      src="assets/images/icons/visual-support-icons-email-verification-avatar.svg"
    />
  </div>
  <div class="col-md-6 pt-5">
    <h3>We sent a link to <br />v********i@***********.co.ke</h3>
    <small class="text-grey"
      >Click on that link to continue your password reset</small
    >
  </div>
</div>
<div class="row mt-3">
  <div class="row">
    <button mat-stroked-button color="primary" class="col-md-3 me-2">
      Open Gmail
    </button>
    <button mat-stroked-button color="primary" class="col-md-3 me-2">
      Open Outlook
    </button>
    <button mat-stroked-button color="primary" class="col-md-3">
      Resend Email
    </button>
  </div>

  <div class="row mt-3">
    <button mat-stroked-button color="primary" class="col-md-5 me-2">
      I don't have access to email
    </button>

    <button mat-stroked-button color="primary" class="col-md-5 me-2">
      Try another method
    </button>
  </div>
</div>
