<div *ngIf="data === transferType.INTRA_BANK">
  <app-intra-new-recipient [transferType]="data"></app-intra-new-recipient>
</div>

<div
  *ngIf="
    data === transferType.INTER_BANK ||
    data === transferType.EFT ||
    data === transferType.RTGS
  "
>
  <app-inter-new-recipient [transferType]="data"></app-inter-new-recipient>
</div>

<div *ngIf="data === transferType.MOBILE_MONEY">
  <app-mobile-operators-modal
    [transferType]="data"
  ></app-mobile-operators-modal>
</div>

<div *ngIf="data === transferType.BUY_GOODS">
  <app-buy-goods-new-recipient></app-buy-goods-new-recipient>
</div>

<div *ngIf="data === transferType.SWIFT">
  <app-swift-new-recipient></app-swift-new-recipient>
</div>

<div *ngIf="data === 'bank' || 'phone-linked'">
  <app-pesalink-new-recipient [mode]="data"></app-pesalink-new-recipient>
</div>
