<div class="row mb-3">
  <mat-form-field class="col-md-12">
    <mat-label [attr.for]="fieldName"> {{label}} </mat-label>
    <input
      matInput
      [ngClass]="{
        'has-error': formField?.invalid && formField?.dirty
      }"
      [name]="fieldName"
      [id]="fieldName"
      [type]="passwordFieldType"
      [value]="value"
      [disabled]="isDisabled"
      formControlName="password"
      (input)="onChange($event)"
      (blur)="touched()"
      autocomplete="new-password"
      [value]="value"
      placeholder="Enter your password or pin"
    />
    <button
      mat-icon-button
      type="button"
      matSuffix
      class="password-icon"
      (click)="togglePasswordVisible()"
      [title]="passwordFieldType === 'text' ? 'Hide password' : 'Show password'"
    >
      <mat-icon
        [svgIcon]="
          passwordFieldType === 'text' ? 'hide-password' : 'show-password'
        "
      ></mat-icon>
    </button>
  </mat-form-field>
</div>
