<div class="container select-account-modal-screen p-0">
  <button
    mat-icon-button
    matSuffix
    class="close-button"
    (click)="close()"
    *ngIf="!hasSelectedAccount"
  >
    <mat-icon>close</mat-icon>
  </button>
  <p
    class="text-center fw-bold pt-2"
    *ngIf="!hasSelectedAccount && data.length"
  >
    Switch profile
  </p>

  <div *ngIf="!hasSelectedAccount && data.length">
    <h3 class="m-4 ms-2">Please select an account</h3>
    <mat-card
      class="m-2 mb-3 cursor-pointer mat-elevation-z0"
      *ngFor="let account of data"
      (click)="selectAccount(account)"
    >
      <div class="row align-items-stretch">
        <div class="col-md-1">
          <mat-icon
            color="primary"
            [svgIcon]="
              account?.id === selected?.id ? 'check_round' : 'radio_button_off'
            "
          ></mat-icon>
        </div>
        <div class="col-md-11">
          <h4>{{ account?.corporateName }}</h4>
          <p class="mb-1">
            {{ account?.emailAddress }}
          </p>
          <small class="mb-1 text-grey">{{ account?.phoneNumber }} </small>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card *ngIf="hasSelectedAccount && switchStatus === 'accountSelected'">
    <img matCardImage src="assets/images/Illustrations/Frame_19.svg" />
    <mat-card-content style="margin-top: -30px">
      <p class="text-center">
        Are you sure you want to move your account to this profile?
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button
        style="width: 100%"
        type="submit"
        mat-button
        color="primary"
        class="px-5 mb-3"
        (click)="close()"
      >
        Maybe later
      </button>
      <button
        style="width: 100%; margin: auto"
        type="submit"
        mat-raised-button
        color="primary"
        class="px-5 mb-3"
        (click)="submitAccountSwitch()"
      >
        Yes, I'm Sure
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="switchStatus === 'processSwitch'">
    <img
      matCardImage
      src="assets/images/Illustrations/switch-profile-process.svg"
      style="width: 48px; margin: auto; display: block"
    />
    <mat-card-content>
      <p class="text-center">
        We’re almost there
        <br />
        <small class="text-center" style="font-size: 12px; color: #8b888e">
          We’re currently moving your account to Acme Startup. Please give us a
          few minutes to complete this process.
        </small>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="switchStatus === 'completeChange'">
    <img
      matCardImage
      src="assets/images/Illustrations/switch-profile-done.svg"
    />
    <mat-card-content>
      <p class="text-center">
        Your account has been moved
        <br />
        <small class="text-center" style="font-size: 12px; color: #8b888e">
          Your account has been successfully added to your profile. To manage
          your account, select the profile that you moved it to.
        </small>
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button
        style="width: 100%; margin: auto"
        type="submit"
        mat-raised-button
        color="primary"
        class="px-5 mb-3"
        (click)="completeTheSwithcProfile()"
      >
        Done
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="!data.length">
    <img matCardImage src="assets/images/Illustrations/Frame_19.svg" />
    <mat-card-content>
      <p class="text-center">
        You don't have profile to switch on
        <br />
        <small class="text-center" style="font-size: 12px; color: #8b888e">
          Sorry, we currently you don't have any overs profiles. Please try
          again later.
        </small>
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button
        style="width: 100%; margin: auto"
        type="submit"
        mat-raised-button
        color="primary"
        class="px-5 mb-3"
        (click)="close()"
      >
        Done
      </button>
    </mat-card-actions>
  </mat-card>
</div>
