.language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 80px;
    background-color: var(--cool-grey-20);
    box-shadow: none;
  
    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
    }
  }
  