<div *ngIf="isloggedOut">
  <div class="card">
    <div class="card-body card-icon-shadow">
      <mat-icon [ngStyle]="{ color: 'green' }">check_circle</mat-icon>
      You have been signed out successfully.
    </div>
  </div>
</div>
<div
  class="card border-0 login-screen"
  [ngClass]="{ 'mt-5': !stage, 'pt-5': !stage, 'mt-3': stage }"
>
  <div class="row ps-5">
    <div class="col-md-12">
      <button
        mat-button
        aria-label="Back"
        class="back-icon"
        (click)="stage && resetStage()"
      >
        <div>
          <h3 class="strong-text">
            <mat-icon
              svgIcon="chevron-left"
              class="chevron"
              *ngIf="stage"
            ></mat-icon>
            <span> {{ title }}</span>
          </h3>
        </div>
      </button>
    </div>
  </div>
  <div class="card-body ps-5" [ngSwitch]="stage">
    <div class="row pt-2 pb-5" *ngSwitchDefault>
      <div class="row text-muted">
        <p>
          Sign in to continue. Remember, your password is yours, do not share it
          with anyone.
        </p>
      </div>
      <form [formGroup]="loginPasswordForm" autocomplete="off">
        <div class="row mb-3">
          <mat-form-field class="col-md-12" floatLabel="always">
            <mat-label for="username"> Username </mat-label>
            <input
              matInput
              type="text"
              id="username"
              formControlName="username"
              placeholder="Enter your username"
            />
            <mat-error *ngIf="f.username.errors" class="validationError">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <mat-form-field class="col-md-12" floatLabel="always">
            <mat-label for="loginPasswordForm"> Password </mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              id="password"
              formControlName="password"
              autocomplete="new-password"
              placeholder="Enter your password"
            />
            <button
              mat-icon-button
              type="button"
              matSuffix
              class="password-icon"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon
                [svgIcon]="hidePassword ? 'show-password' : 'hide-password'"
              ></mat-icon>
            </button>
            <mat-error *ngIf="f.password.errors" class="validationError">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <button
              mat-button
              color="primary"
              class="ps-0 strong-text"
              type="button"
              [disabled]="submitted"
              (click)="forgotDetails()"
            >
              Forgot your login details?
            </button>
          </div>
        </div>
        <div class="row gx-4">
          <div class="col">
            <button
              mat-flat-button
              color="primary"
              type="button"
              class="col-12"
              (click)="submit()"
              [disabled]="submitted"
            >
              {{ "button_signin" | translate }}
            </button>
          </div>
          <div class="col">
            <button
              mat-stroked-button
              color="primary"
              type="button"
              class="col-12"
              [routerLink]="['/auth/customer-onboarding']"
              routerLinkActive="router-link-active"
            >
              {{ "button_register" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <app-reset-password
      [userIdentifier]="f.username.value"
      [submitted]="passwordChangeSubmitStatus"
      (onSubmit)="onPasswordChangeSubmit($event)"
      *ngSwitchCase="'change-password'"
    ></app-reset-password>

    <app-security-challenge
      (onSubmit)="securityChallengeSubmit($event)"
      (error)="onSecurityVerificationError($event)"
      [title]="{
        main: 'Set up your security questions',
        description: 'Make the answers easy to remember'
      }"
      *ngSwitchCase="'security-challenge'"
    ></app-security-challenge>

    <app-sms-verification
      (onOTPVerified)="smsVerificationSubmit($event)"
      [otpError]="otpError"
      [message]="initialResponse"
      *ngSwitchCase="'sms-verification'"
    ></app-sms-verification>
  </div>
</div>
