.new-recipient-modal-screen {
  width: 22vw;
  height: 95vh;
  overflow-x: hidden;
  position: relative;
}

.mat-dialog-container {
  margin: 0;
  padding: 0;
}
.close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.img-d {
  width: 60px;
  height: 60px;
}

.s-padding {
  padding: 28px;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 2px;
}
