<div class="container p-0">
  <div class="d-flex justify-content-between">
    <button mat-icon-button matSuffix class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <p class="text-center fw-bold pt-2">Document name.pdf</p>
    <div class="d-flex justify-content-end">
      <button mat-icon-button>
        <mat-icon svgIcon="download_grey"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="share"></mat-icon>
      </button>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md-6">
      <p class="text-grey mb-0">From</p>
      <p>Emmanuel Macharia</p>
      <p>Savings -009******</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">To</p>
      <p>Carolyne Kioko</p>
      <p>0810174008117</p>
      <p>Bank Name</p>
      <p>Westlands</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">Transaction date</p>
      <p>23 August 2021 00:00</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">Transaction reference</p>
      <p>XXXXXXXX</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">Payment Amount</p>
      <p>5,000.00 KES</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">Currency</p>
      <p>KES</p>
    </div>
    <div class="col-md-6">
      <p class="text-grey mb-0">Payment Reason</p>
      <p>XXXXXX</p>
    </div>
  </div>
</div>
