<mat-form-field
  appearance="standard"
  style="width: 100%"
  floatLabel="always"
  (click)="openTransactionType()"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    class="strong-text"
    [id]="fieldName"
    [name]="fieldName"
    [value]="value?.type || ''"
    [disabled]="isDisabled"
    (input)="onChange($event)"
    (blur)="touched()"
    [placeholder]="placeholder"
  />
  <button type="button" mat-icon-button matSuffix>
    <mat-icon svgIcon="caret_down"></mat-icon>
  </button>
</mat-form-field>
