<div class="recipient-modal-screen p-0 mat-elevation-z0">
    <div class="row">
        <div class="col-md-3">
          <mat-icon (click)="close()">arrow_back_ios_new</mat-icon>
        </div>
        <h4 class="strong-text col-md-9">Send to an bank account</h4>
    </div>
    <h3 class="strong-text pt-4">Please select the recipient's bank</h3>
    <small class="text-grey">Select the country where the account is held and we’ll pull up a list of national banks</small>
    <form [formGroup]="equityForm" (ngSubmit)="submit()" class="d-flex flex-column pt-4" autocomplete="off">
        <div>
          <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
            <mat-label class="strong-text">Select bank</mat-label>
            <input matInput type="text" placeholder="" formControlName="bank" [readonly]="true">
            <button type='button' mat-icon-button matSuffix (click)="openBank()">
              <mat-icon svgIcon="caret_down"></mat-icon>
            </button>
          </mat-form-field>
        </div>
    
        <div>
            <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
                <mat-label>Account name</mat-label>
                <input matInput type="text" placeholder="Enter their full name" formControlName="account">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
                <mat-label>Account number</mat-label>
                <input matInput type="text" placeholder="Enter their account number" formControlName="accountno">
            </mat-form-field>
        </div>

        <div class="pt-4">
          <button  [disabled]="equityForm.invalid" color="primary" type="submit" mat-flat-button
            class="px-5">{{equityForm.valid ? "Continue" : "Action"}}</button>
        </div>
      </form>
</div>
  