<div class="row" *ngIf="!completed">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/transact/"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>Request for cheque Book</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter details</h3>
        <form
          [formGroup]="chequebookRequestForm"
          (submit)="submit()"
          class="d-flex flex-column"
          autocomplete="off"
        >
          <div class="row">
            <!-- Send From -->
            <div class="col-md-6">
              <app-transfer-from
                [parentForm]="chequebookRequestForm"
                label="Cheque account"
                placeholder="Select the recipient"
                formControlName="chequeBookAccount"
                fieldName="chequeBookAccount"
              >
              </app-transfer-from>
            </div>
            <div class="col-md-6">
              <app-select-number
                [parentForm]="chequebookRequestForm"
                [total]="4"
                label="Number of chequebook"
                placeholder="Enter number"
                formControlName="chequeBookQuantity"
                fieldName="chequeBookQuantity"
              ></app-select-number>
            </div>
            <div class="col-md-6">
              <app-select-number
                [parentForm]="chequebookRequestForm"
                [total]="4"
                label="Number of leaves"
                placeholder="Enter number"
                formControlName="chequeBookLeaves"
                fieldName="chequeBookLeaves"
              ></app-select-number>
            </div>
            <div class="col-md-6">
              <app-collection-option
                [parentForm]="chequebookRequestForm"
                label="Collection option"
                placeholder="Select the branch"
                formControlName="branch"
                fieldName="branch"
              ></app-collection-option>
            </div>
          </div>
          <div class="mt-4">
            <button
              mat-raised-button
              [disabled]="chequebookRequestForm.invalid"
              color="primary"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="completed">
  <app-confirmation-completion
    [data]="completionData"
    (confirmationDone)="confirmationDone($event)"
  ></app-confirmation-completion>
</div>
