<div class="container select-account-modal-screen">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">{{transactionType === 'buyAirTime' ? 'Buy from' : 'Send from'}}</p>
  <h3 class="m-4 ms-2">Please select an account</h3>
  <app-account-dropdown-item *ngFor="let account of data" [data]="account" [isChecked]="selected &&  selected.accountName===account.accountName">
  </app-account-dropdown-item>

  <div *ngIf="transactionType === 'buyAirTime'">
    <div class="row mt-2 pb-3 cursor-pointer">
      <div class="col-md-10">
        <img
          src="./assets/images/icons/Link.svg"
          class="fav-icon"
          alt=""
        />
        <span class="ps-3">Add an account</span>
      </div>
      <div class="col-md-2">
        <button type="button" mat-icon-button matSuffix>
          <mat-icon svgIcon="caret_right"></mat-icon>
        </button>
      </div>
    </div>

    <h3 class="m-4 ms-2">Card</h3>
    <div class="row mt-2 pb-3 cursor-pointer">
      <div class="col-md-10">
        <img
          src="./assets/images/icons/Link.svg"
          class="fav-icon"
          alt=""
        />
        <span class="ps-3">Add an card</span>
      </div>
      <div class="col-md-2">
        <button type="button" mat-icon-button matSuffix>
          <mat-icon svgIcon="caret_right"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
