<div>
  <div class="mb-3">
    <button mat-icon-button aria-label="Back" class="back-icon" routerLink="/more">
      <div class="strong-text">
        <mat-icon svgIcon="caret_left"></mat-icon>
        <span>Set up verification preferences</span>
      </div>
    </button>
  </div>
  <h3 class="strong-text">How would you like to get verified?</h3>
  <small>Please select one of the options below</small>

  <div class="row my-5">
    <div class="col-md-5 col-sm-3" *ngFor="let account of data.OTP_LIST">
      <div class="d-flex flex-row  justify-content-between align-items-stretch  col-md-10 mb-2 py-2 border border-secondary bg-light">
        <div class="d-flex align-items-center">
          <img class="rounded-circle img-fluid px-3" [src]="account.imageLink" alt="Generic placeholder image" />
          <div class="col-md-10 px-1">
            <h4>{{ account.verificationType }}</h4>
          </div>
        </div>
        <div class="px-3">
          <mat-checkbox
          color="primary"
          (click)="select(account)"
          (change) = "onChangeDemo($event)"
          [checked]="selected &&  selected.verificationType===account.verificationType"
        >
        </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button mat-raised-button color="primary" [disabled]="!selectedOtp" class="px-5" (click) = "onSubmit()" > Update</button>
  </div>
 
</div>