<div class="row">
    <div class="col-md-12">
      <div class="row mb-4 justify-content-md-center">
        <div class="col-md-11">
          <div class="mb-3">
            <button
              mat-icon-button
              aria-label="Back"
              class="back-icon"
              routerLink="/account/open-account/"
            >
              <div class="strong-text">
                <mat-icon svgIcon="caret_left"></mat-icon>
                <span>Enable user</span>
              </div>
            </button>
          </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-5">
            <div class="">
              <img src="assets/images/Illustrations/Group 29.svg" alt="">  
            </div>
            
        </div>
        <div class="col-md-7">
            <h4 class="mt-5">Your user request has been submitted for approval!</h4>

            <span class="text-sm text-grey">You will be notified about your request progress</span>
            <button mat-raised-button type="button" color="primary" class="px-5 mt-4">Done</button>
        </div>
    </div>
    </div>
  </div>
  