<div class="container new-recipient-modal-screen p-1">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon svgIcon="caret_left"></mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">Send to someone new</p>
  <h3 class="m-4 ms-2">Please enter the recipient's details</h3>
  <form
    [formGroup]="interCountryNewRecipientForm"
    (submit)="submit()"
    class="d-flex flex-column"
    autocomplete="off"
  >
    <div class="row gx-0 m-3">
      <div class="col-md-6 col-lg-12">
        <app-country-select-input
          [parentForm]="interCountryNewRecipientForm"
          fieldName="country"
          formControlName="country"
          label="Select Country"
          placeholder="Select Country"
          [transactionType]="transferType.SUBSIDIARY"
        >
        </app-country-select-input>
      </div>

      <div class="col-md-6 col-lg-12">
        <app-input
          [parentForm]="interCountryNewRecipientForm"
          fieldName="accountNumber"
          placeholder="Enter their account number"
          formControlName="accountNumber"
          label="Account Number"
        ></app-input>
      </div>
      <div class="col-md-6 col-lg-12"></div>
    </div>
    <div class="m-3">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="interCountryNewRecipientForm.invalid"
      >
        Continue
      </button>
    </div>
  </form>
</div>
