<div class="row">
    <div class="col-md-12">
      <div class="row mb-4 justify-content-md-center">
        <div class="col-md-11">
          <div class="mb-3">
            <button
              mat-icon-button
              aria-label="Back"
              class="back-icon"
            >
              <div class="strong-text">
                <mat-icon svgIcon="caret_left"></mat-icon>
                <span>Register</span>
              </div>
            </button>
          </div>
          <div class="row mt-3">
            <h3>Please add the team members in your company</h3>
          </div>
          <div class="row">
            <div class="row product-list-item" routerLink="roles" routerLink="/auth/customer-onboarding/team-member-detail" matRipple>
              <div class="col-1 my-auto">
                <div class="icon-container">
                <mat-icon color="primary" aria-hidden="false">withdraw</mat-icon>
                </div>
              </div>
              <div class="col-10  offset-md-1 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center">
                  <div class="col-10 float-left text-truncate">
                    <h4>Add team members</h4>
                    <small class="text-grey">Team members have access to various permissions and roles </small>
                  </div>
                  <div class="col-2 float-right">
                    <mat-icon [svgIcon]="'caret_right'"></mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>          
          <div class="row mt-3">
            <h3>List of team members</h3>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-team-member-menu-item></app-team-member-menu-item>
            </div>
          </div>   
        </div>
        <div class="row">
            <button mat-raised-button color="primary" class="mt-5 col-md-4" routerLink="">Save & continue</button>
        </div>
      </div>   
    </div>
</div>
  