<div class="new-recipient-modal-screen p-2" [hidden]="!visibility">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">Select a bank</p>
  <h3 class="m-4 mb-0 ms-2">Please select the beneficiary's bank</h3>

  <div class="row gx-0">
    <app-country-select
      [category]="countrySelectType"
      (selectedCountry)="setCountry($event)"
    ></app-country-select>
  </div>
  <mat-divider class="m-2"></mat-divider>
  <div class="row gx-0">
    <mat-form-field appearance="outline">
      <input
        matInput
        [(ngModel)]="searchText"
        placeholder="Search for a bank"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="row p-2 gx-0">
    <h3
      class="strong-text p-3"
      *ngIf="(banks | bankSearch: searchText)?.length as results"
    >
      {{ results }} result{{ results ? "s" : "" }}
    </h3>
    <div
      *ngFor="
        let item of banks | bankSearch: searchText;
        let isLast = last;
        let i = index
      "
    >
      <app-bank-list-item
        [data]="item"
        [isChecked]="selected?.bankCode === item.bankCode"
      >
      </app-bank-list-item>
      <mat-divider *ngIf="!isLast" class="pt-3 mt-3"></mat-divider>
    </div>
  </div>
</div>
