<div class="row">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>Register</span>
            </div>
          </button>
        </div>
        <div class="mb-3">
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
        </div>
        <h3 class="title">Please add the company directors</h3>
        <div class="row">
          <div class="col-md-6">
            <mat-card
              class="cursor-pointer p-3"
              routerLink="/auth/customer-onboarding/company-directors/add-new"
            >
              <mat-card-content>
                <div class="row">
                  <div class="col-md-3">
                    <button mat-fab>
                      <mat-icon svgIcon="withdraw"></mat-icon>
                    </button>
                  </div>
                  <div class="col-md-7">
                    <p class="mb-0">By email</p>
                    <small class="text-grey"
                      >Add the details of your company's directors</small
                    >
                  </div>
                  <div class="col-md-2 card card-block justify-content-center">
                    <mat-icon color="primary" svgIcon="caret_right"></mat-icon>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="mt-5">
          <h3 class="title">List of Directors</h3>
          <div class="row">
            <div
              *ngFor="let item of directors; let i = index"
              class="col-md-6 align-items-stretch align-items-center mb-2 pb-2"
            >
              <div class="col-md-2">
                <img
                  class="rounded-circle img-fluid"
                  src="assets/images/icons/visual-support-icons-BM-image-placeholder.svg"
                  alt="Generic placeholder image"
                />
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-10">
                    <h4>Name and last name</h4>
                    <small class="mb-1 text-grey">email address</small>
                  </div>
                  <div class="col-md-2">
                    <mat-icon
                      color="primary"
                      svgIcon="three_dots_on_grey"
                      [matMenuTriggerFor]="menu"
                    ></mat-icon>

                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        [routerLink]="
                          '/auth/customer-onboarding/company-directors/edit/' +
                          i +
                          1
                        "
                      >
                        <mat-icon svgIcon="edit"></mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="delete()">
                        <mat-icon svgIcon="delete-documents"></mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
                <mat-divider class="mt-2 mb-2"></mat-divider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
