<div class="d-flex flex-column" style="margin-top: 20vh">
  <div class="d-flex justify-content-center">
    <h2><strong>Application submitted successfully</strong></h2>
  </div>

  <div class="d-flex justify-content-center">
    <img
      class="img-fluid mt-3"
      src="assets/images/icons/submit-successful.svg"
      alt="Generic placeholder image"
    />
  </div>

  <div class="d-flex justify-content-center">
    <p class="text-grey">
      Your registration application has been received and is being processed
    </p>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button
      mat-stroked-button
      color="primary"
      class="px-5"
      [routerLink]="['/auth/customer-onboarding']"
      routerLinkActive="router-link-active"
    >
      <strong>Close</strong>
    </button>
  </div>
</div>
