<div class="row gx-0">
  <div class="col-md-12">
    <div class="row gx-0 mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>Register</span>
            </div>
          </button>
        </div>
        <div class="mb-3">
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_primary"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            svgIcon="wizard_progress_grey"
            class="mat-icon-custom"
          ></mat-icon>
        </div>
        <h3 class="title mb-3">Please Select products and services</h3>

        <div class="row mt-3">
          <div
            class="col-md-6 mt-5"
            *ngFor="let item of options; let i = index"
          >
            <div
              class="row product-list-item"
              routerLink="/auth/customer-onboarding/register/product-service-options"
            >
              <div class="col-md-2">
                <button mat-fab class="text-primary">
                  <mat-icon>person</mat-icon>
                </button>
              </div>
              <div class="col-md-7 product-list-item-label">
                <p class="mb-0">Payment</p>
                <small class="text-grey">Secondary label</small>
              </div>
              <div class="col-1 text-grey pt-4">off</div>
              <div class="col-md-2 card card-block justify-content-center">
                <mat-icon color="primary" svgIcon="caret_right"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-3">
          <div class="col-sm-5 pr-sm-0 mb-3 mb-sm-0">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              class="col-8"
              [disabled]="false"
              routerLink="/auth/customer-onboarding/register/product-services"
            >
              Save & continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
