<div
  class="row align-items-stretch mb-2 pb-2 cursor-pointer"
  (click)="openCountries()"
>
  <div *ngIf="category === viewTypes?.FLAG_AND_NAME" class="col-md-2">
    <img
      class="rounded-circle img-d"
      [src]="(selected | async)?.flag || countries[0].flag"
      width="60px"
      height="60px"
      alt="Generic placeholder image"
    />
  </div>
  <div
    [ngClass]="category === viewTypes?.FLAG_AND_NAME ? 'col-md-9' : 'col-md-12'"
  >
    <div class="row user-list-item" style="height: 60px">
      <div class="col-md-10 d-flex">
        <div class="align-self-center">
          {{ (selected | async)?.name || countries[0].name }}
        </div>
      </div>
      <div class="col-md-2 d-flex">
        <div class="align-self-center">
          <mat-icon color="primary" svgIcon="caret_right"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
