<div class="p-4" style="width: 400px">
  <div class="row d-flex justify-content-between align-items-center">
    <h3 class="strong-text col-md-11">Pay a loan</h3>
    <div class="col-md-1">
      <mat-icon class="col-md-4" (click)="close()">close</mat-icon>
    </div>
  </div>
  <div class="row">
    <h4 class="text-grey col-md-12">How much do you want to pay?</h4>
  </div>
  <div class="my-4 row align-items-stretch" (click)="updateForm('full')">
    <div class="col-md-11">
      <h4>Full amount</h4>
    </div>
    <div class="col-md-1">
      <mat-icon
        color="primary"
        [svgIcon]="selection === 'full' ? 'check_round' : 'radio_button_off'"
      ></mat-icon>
    </div>
    <div>{{ data.amount | number: "0.2" }} KES</div>
  </div>
  <div
    class="my-4 row d-flex align-items-stretch"
    (click)="updateForm('partial')"
  >
    <div class="col-md-11">
      <h4>Partial payment</h4>
    </div>
    <div class="col-md-1">
      <mat-icon
        color="primary"
        [svgIcon]="selection === 'partial' ? 'check_round' : 'radio_button_off'"
      ></mat-icon>
    </div>
  </div>

  <div class="my-4 row d-flex align-items-stretch">
    <form
      class="d-flex flex-column"
      autocomplete="off"
      [formGroup]="payLoanForm"
      (ngSubmit)="pay()"
    >
      <app-input
        [parentForm]="payLoanForm"
        fieldName="amount"
        label="Amount"
        formControlName="amount"
        placeholder="Enter an amount"
      ></app-input>
      <div class="mt-4">
        <button
          mat-raised-button
          type="submit"
          [disabled]="payLoanForm.invalid"
          color="primary"
          class="px-5"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
