.favourites-modal-screen {
  width: 22vw;
}

.mat-dialog-container {
  margin: 0;
  padding: 0;
}

.close-button {
  float: left;
  top: 0px;
  right: 0px;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

.border-bottom-grey {
  border-bottom: 1px solid var(--cool-grey-20);
}
