<div class="row pt-md-5 access-panel-content">
  <div class="col-md-12">
    <div class="row mb-3 justify-content-md-center">
      <div class="col-md-10">
        <div class="row mb-3">
          <div class="col-md-12">
            <button
              mat-icon-button
              aria-label="Back"
              class="back-icon"
              [routerLink]="['/access/login']"
            >
              <div class="strong-text">
                <mat-icon svgIcon="caret_left"></mat-icon>
                <span> Forgot password </span>
              </div>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="strong-text">Have you forgotten your password?</h3>
            <div class="text-sm text-grey">
              We’ll email or text you a link to help you reset your password
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <form
        [formGroup]="validateCredentialsForm"
        class="col-md-10 offset-md-1"
        (ngSubmit)="validateCredentials()"
      >
        <div class="row mb-3">
          <mat-form-field class="col-md-12">
            <mat-label for="accountInfo">
              Email address, mobile number or user ID
            </mat-label>
            <input
              matInput
              type="text"
              id="accountInfo"
              formControlName="validCredentials"
            />
            <mat-error
              *ngIf="validateCredentialControls.validCredentials.errors"
              class="validationError"
            >
              <div
                *ngIf="
                  validateCredentialControls.validCredentials.errors.required
                "
              >
                Please enter your email address, mobile number, user ID
              </div>
              <div
                *ngIf="
                  validateCredentialControls.validCredentials.errors.minlength
                "
              >
                Minimum 6 characters
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row mb-3">
          <div class="col-sm-5 pr-sm-0 mb-3 mb-sm-0">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              class="col-12"
              [disabled]="validateCredentialControls.validCredentials.errors"
            >
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
