<div class="  container">

    <div class="row my-5">
          <div class="d-flex flex-row  justify-content-between align-items-stretch  col-md-12 mb-2 py-2">
            <div class="col-md-7 d-flex align-items-center">
              <img src="assets/images/Illustrations/Group 29.svg" width="390px" class="img-fluid px-3"  alt="Generic placeholder image" />
              
            </div>
            <div class="col-md-5 mt-5 px-1">
                <h4>Your verification preferences have been updated succcessully</h4>

                <div class="mt-5 pt-5">
                    <button mat-raised-button color="primary" (click) = done() class=" mt-5 px-5 button-margin" > Done</button>
                  </div>
              </div>
       
          </div>
      </div>
</div>


