<div class="row" *ngIf="visibility">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/transact/beneficiary-management"
            *ngIf="!modalMode"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span> {{ editMode ? "Edit" : "Add" }} a beneficiary</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter beneficiary's details</h3>

        <form
          [formGroup]="equityForm"
          (ngSubmit)="submit()"
          class="d-flex flex-column"
          autocomplete="off"
        >
          <div class="row pt-4">
            <div class="col-md-6 col-lg-12">
              <mat-form-field
                appearance="standard"
                style="width: 100%"
                floatLabel="always"
              >
                <mat-label>Name</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Enter their name"
                  formControlName="beneficiaryName"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-12">
              <mat-form-field appearance="standard" style="width: 100%">
                <mat-label>Bank</mat-label>
                <input
                  matInput
                  type="text"
                  [readonly]="true"
                  placeholder="Select their bank"
                  formControlName="beneficiaryBank"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="openBanks()"
                >
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-12">
              <mat-form-field
                appearance="standard"
                style="width: 100%"
                floatLabel="always"
              >
                <mat-label>Account number</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="beneficiaryAccount"
                  placeholder="Enter their account number"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-12">
              <mat-form-field appearance="standard" style="width: 100%">
                <mat-label>Transaction type</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Select a transaction type"
                  [readonly]="true"
                  formControlName="transactionType"
                  [value]="equityForm.get('transactionType')?.value | transactionTypePipe"
                  placeholder="Select a transaction type"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="openTransactions()"
                >
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="mt-4">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="equityForm.invalid"
            >
              {{ editMode ? "Update" : "Add the beneficiary" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- [disabled]="equityForm.invalid" -->
