<div class="row" *ngIf="visibility">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/transact/beneficiary-management"
            *ngIf="!modalMode"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span> {{ editMode ? "Edit" : "Add" }} a beneficiary</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter beneficiary's details</h3>

        <form
          [formGroup]="equityForm"
          (ngSubmit)="submit()"
          class="d-flex flex-column"
          autocomplete="off"
        >
          <div class="row pt-4">    

            <!-- transfer type field -->   
            <div class="col-md-6">
              <mat-form-field appearance="standard" style="width: 100%">
                <mat-label>Transfer type</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Select a transfer type"
                  [readonly]="true"
                  value="{{equityForm.get('transferType')?.value | transferTypeLabelPipe | translate}}"
                  placeholder="Select a transfer type"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="openTransactions()"
                >
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
            </div>
            
            <!-- dynamic fields -->
            <div class="col-md-6" *ngFor="let field of fields" [ngSwitch]="field.metadata.controlType">
              <mat-form-field *ngSwitchCase="'input'"
                appearance="standard"
                style="width: 100%"
                floatLabel="always"
              >
                <mat-label>{{field.metadata.label}}</mat-label>
                <input
                  matInput
                  type="{{field.metadata.dataType}}"
                  placeholder="Enter {{field.metadata.label}}"
                  [formControlName]="field.metadata.formControlName"
                />
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'select'"
                appearance="standard"
                style="width: 100%"
                floatLabel="always"
                aria-readonly="true"
              >
                <mat-label>{{field.metadata.label}}</mat-label>
                <input
                  matInput
                  type="text"
                  readonly
                  placeholder="Select {{field.metadata.label}}"                  
                  [value]="getFieldValue(field.metadata.formControlName, field.metadata.valueFromField)"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="field.metadata.onclick ? field.metadata.onclick() : null"
                >
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
              
              <app-phone-number-input *ngSwitchCase="'mobile'"
                [parentForm]="equityForm"
                fieldName="phoneNumber"
                formControlName="phoneNumber"
                placeholder="Enter their mobile number"
                label="Mobile Number"
              ></app-phone-number-input>
              
            </div>    
            
            <div class="row divider"></div>

            <!-- favourite, send from fields -->
            <div class="col-sm-6 product-list-item">
              <div class="col-12 product-list-item-label">
                <div class="row h-100 justify-content-around align-items-center" (click)="toggleFav()">
                  <div class="float-left label text-truncate">
                    <h4>{{ editMode ? "Include at favourite list" : "Set as favourite" }}</h4>
                  </div>
                  <div class="float-right toggle toggle-container">
                    <mat-icon
                      [svgIcon]="
                        equityForm.get('favourite')?.value
                          ? 'toggle_button_on'
                          : 'toggle_button_off'
                      "
                    ></mat-icon>
                  </div>
                </div>
              </div>
            </div>                
            <div class="col-sm-6">        
              <mat-form-field *ngIf="
                equityForm.get('favourite')?.value"
                appearance="standard"
                style="width: 100%"
                floatLabel="always"
                aria-readonly="true"
              >
                <mat-label>Account From</mat-label>
                <input
                  matInput
                  type="text"
                  readonly
                  placeholder="Select an account"
                  formControlName="fromAccount"
                  [value]="getFieldValue('fromAccount', 'accountNumber')"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="openAccounts()"
                >
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="mt-4">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="equityForm.invalid"
            >
              {{ editMode ? "Update beneficiary" : "Add beneficiary" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- [disabled]="equityForm.invalid" -->
