<div class="row">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/transact/beneficiary-management"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span> {{ editMode ? "Edit" : "Add" }} a beneficiary</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter beneficiary's details</h3>

        <form
          class="d-flex flex-column"
          [formGroup]="beneficiaryForm"
          (submit)="createBeneficiary()"
        >
          <div class="row pt-4">
            <!-- Transfer Type -->
            <div class="col-md-6">
              <app-select-transfer-type
                [parentForm]="beneficiaryForm"
                fieldName="transferType"
                placeholder="Select transfer type"
                formControlName="transferType"
                label="Transfer Type"
              ></app-select-transfer-type>
            </div>

            <!-- Country -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                  transferType.SUBSIDIARY ||
                getFormFields.transferType.value.value === transferType.SWIFT ||
                getFormFields.transferType.value.value ===
                  transferType.INTRA_BANK
              "
            >
              <app-country-select-input
                [parentForm]="beneficiaryForm"
                fieldName="country"
                placeholder="Select country"
                formControlName="country"
                label="Country"
              ></app-country-select-input>
            </div>

            <!-- Bank -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                  transferType.SUBSIDIARY ||
                getFormFields.transferType.value.value === transferType.SWIFT ||
                getFormFields.transferType.value.value === transferType.EFT ||
                getFormFields.transferType.value.value === transferType.RTGS
              "
            >
              <app-select-bank
                [parentForm]="beneficiaryForm"
                fieldName="bank"
                placeholder="Select bank"
                formControlName="bank"
                label="Bank"
              >
              </app-select-bank>
            </div>

            <!-- Select Telco -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                transferType.BUY_AIRTIME
              "
            >
              <app-select-telco
                [parentForm]="beneficiaryForm"
                fieldName="telco"
                placeholder="Select Mobile Operator"
                formControlName="telco"
                label="Mobile Operator"
                transactionType=""
              ></app-select-telco>
            </div>

            <!-- Select Mobile Wallet -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                transferType.MOBILE_MONEY
              "
            >
              <app-select-mobile-wallet
                [parentForm]="beneficiaryForm"
                fieldName="mobileWallet"
                placeholder="Select Mobile Wallet"
                formControlName="mobileWallet"
                label="Mobile Wallet"
                transactionType=""
              ></app-select-mobile-wallet>
            </div>

            <!-- First Name for swift -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="firstName"
                placeholder="Enter first name"
                formControlName="firstName"
                label="First Name"
              ></app-input>
            </div>

            <!-- Last Name for swift -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="lastName"
                placeholder="Enter last name"
                formControlName="lastName"
                label="Last Name"
              ></app-input>
            </div>

            <!-- Account Name -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                  transferType.SUBSIDIARY ||
                getFormFields.transferType.value.value === transferType.EFT ||
                getFormFields.transferType.value.value === transferType.RTGS ||
                getFormFields.transferType.value.value ===
                  transferType.BUY_AIRTIME ||
                getFormFields.transferType.value.value ===
                  transferType.MOBILE_MONEY
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="accountName"
                placeholder="Enter account name"
                formControlName="accountName"
                label="Account Name"
              ></app-input>
            </div>

            <!-- Account Number -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value ===
                  transferType.SUBSIDIARY ||
                getFormFields.transferType.value.value === transferType.SWIFT ||
                getFormFields.transferType.value.value === transferType.EFT ||
                getFormFields.transferType.value.value === transferType.RTGS ||
                getFormFields.transferType.value.value ===
                  transferType.INTRA_BANK
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="accountNumber"
                placeholder="Enter account number"
                formControlName="accountNumber"
                label="Account Number"
              ></app-input>
            </div>

            <!-- IBAN Number -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="IBANNumber"
                placeholder="Enter IBAN Number"
                formControlName="IBANNumber"
                label="IBAN Number"
              ></app-input>
            </div>

            <!-- Phone Number -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT ||
                getFormFields.transferType.value.value ===
                  transferType.BUY_AIRTIME ||
                getFormFields.transferType.value.value ===
                  transferType.MOBILE_MONEY
              "
            >
              <app-phone-number-input
                [parentForm]="beneficiaryForm"
                fieldName="phoneNumber"
                placeholder="Enter mobile number"
                formControlName="phoneNumber"
                label="Phone Number"
                [selectedCountry]="selectedCountry"
              ></app-phone-number-input>
            </div>

            <!-- Street Address -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="streetAddress"
                placeholder="Enter street address"
                formControlName="streetAddress"
                label="Street Address"
              ></app-input>
            </div>

            <!-- Postal Address -->
            <div
              class="col-md-6"
              *ngIf="
                getFormFields.transferType.value.value === transferType.SWIFT
              "
            >
              <app-input
                [parentForm]="beneficiaryForm"
                fieldName="postalAddress"
                placeholder="Enter postal address"
                formControlName="postalAddress"
                label="Postal Address"
              ></app-input>
            </div>

            <!-- Favourites Toggler -->
            <div class="col-sm-6 product-list-item">
              <div class="col-12 product-list-item-label">
                <div
                  class="row h-100 justify-content-around align-items-center"
                  (click)="toggleFav()"
                >
                  <div class="float-left label text-truncate">
                    <h4>
                      {{
                        editMode
                          ? "Include at favourite list"
                          : "Set as favourite"
                      }}
                    </h4>
                  </div>
                  <div class="float-right toggle toggle-container">
                    <mat-icon
                      [svgIcon]="
                        beneficiaryForm.get('favourite')?.value
                          ? 'toggle_button_on'
                          : 'toggle_button_off'
                      "
                    ></mat-icon>
                  </div>
                </div>
              </div>
            </div>

            <!-- Send From -->
            <div class="col-md-6" *ngIf="getFormFields.favourite.value">
              <app-transfer-from
                [parentForm]="beneficiaryForm"
                fieldName="sendFrom"
                placeholder="Select account number"
                formControlName="sendFrom"
                label="Send From"
              ></app-transfer-from>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mt-5">
                <button
                  class="px-5"
                  type="submit"
                  mat-raised-button
                  color="primary"
                >
                  <span> {{ editMode ? "Update" : "Add" }} beneficiary</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- [disabled]="equityForm.invalid" -->
