<div class="airtime-mobile-modal-screen p-1" *ngIf="visibility">
    <div class="row">
        <div class="col-md-4">
          <mat-icon (click)="close()" svgIcon="caret_left"></mat-icon>
        </div>
        <h4 class="fw-bold col-md-8">Buy for someone new</h4>
    </div>
    <h3 class="strong-text pt-4">Please enter the recipient’s details</h3>
    <form [formGroup]="airtimeMobileNumberForm" (ngSubmit)="submit()" class="d-flex flex-column pt-4" autocomplete="off">
       <div class="row">
        <small>Mobile number</small>
        <div class="col-md-3">
            <!-- <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
                <input matInput type="text" class="strong-text" id="code" name="code" formControlName="code"/>
                <button type="button" mat-icon-button matSuffix>
                    <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
            </mat-form-field> -->

            <mat-form-field appearance="standard" style="width: 100%">
                <mat-select class="strong-text" name="code" formControlName="code">
                    <mat-option *ngFor="let code of mobileCodes" [value]="code.mobileCode">
                    {{code.mobileCode}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </div>    
        <div class="col-md-9 pt-1">
            <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
                <input matInput type="text" placeholder="Enter the mobile number" formControlName="mobileNumber">
            </mat-form-field>
        </div>
       </div>
        <div class="pt-4">
          <button color="primary" type="submit" mat-flat-button
          [disabled]="airtimeMobileNumberForm.invalid" class="px-5">Continue</button>
        </div>
      </form>
</div>
