<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/transact/"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>View your statement</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter the payment details</h3>
        <div class="row pt-3 col-md-5">
          <div class="d-flex justify-content-between">
            <button
              mat-stroked-button
              (click)="setRange('buttonA')"
              [ngClass]="{ toggleColor: selectedButton === 'buttonA' }"
              [color]="selectedButton === 'buttonA' && 'primary'"
            >
              1 Month
            </button>
            <button
              mat-stroked-button
              (click)="setRange('buttonB')"
              [ngClass]="{ toggleColor: selectedButton === 'buttonB' }"
              [color]="selectedButton === 'buttonB' && 'primary'"
            >
              3 Months
            </button>
            <button
              mat-stroked-button
              (click)="setRange('buttonC')"
              [ngClass]="{ toggleColor: selectedButton === 'buttonC' }"
              [color]="selectedButton === 'buttonC' && 'primary'"
            >
              6 Months
            </button>
            <button
              mat-stroked-button
              (click)="setRange('buttonB')"
              [ngClass]="{ toggleColor: selectedButton === 'buttonD' }"
              [color]="selectedButton === 'buttonD' && 'primary'"
            >
              1 Year
            </button>
          </div>
        </div>
        <form
          [formGroup]="statementForm"
          (submit)="submit()"
          class="d-flex flex-column"
          autocomplete="off"
        >
          <div class="row mt-4">
            <div class="col-md-6">
              <mat-form-field style="width: 100%">
                <mat-label>Input disabled</mat-label>
                <input
                  matInput
                  placeholder="Select a date"
                  [matDatepicker]="startDate"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDate disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field style="width: 100%">
                <mat-label>End date</mat-label>
                <input
                  matInput
                  [matDatepicker]="dp3"
                  placeholder="Select a date"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dp3"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-schedule-payment-input
                [parentForm]="statementForm"
                label="Schedule statement"
                fieldName="scheduleStatement"
                placeholder="Select a date"
                transactionType="statement"
              ></app-schedule-payment-input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="loading">
  <mat-spinner style="margin-top: 30vh"></mat-spinner>
</div>
