<div class="activity-detail p-3" *ngIf="status !== 'Reinitiated' || !show">
  <div class="mb-3">
    <button
      mat-icon-button
      aria-label="Back"
      class="back-icon"
      routerLink="/dashboard/"
    >
      <div class="strong-text">
        <mat-icon svgIcon="caret_left"></mat-icon>
      </div>
    </button>
  </div>
  <div class="row-fluid mb-4">
    <div class="row">
      <div class="col-8">
        <h3 class="strong-text">Transaction detail</h3>
      </div>
      <div
        class="col-4"
        *ngIf="data?.approvalStatus === approvalStatus.Approved"
      >
        <app-card-component
          [data]="{ text: 'View or download receipt', suffixIcon: 'eyes_view' }"
          (click)="openReceipt()"
        ></app-card-component>
      </div>
    </div>
  </div>
  <div class="row-fluid text-danger fs-4 mb-3">
    {{ data?.amount }} {{ data?.currency }}
    <mat-icon svgIcon="question_mark"></mat-icon>
  </div>
  <div class="row-fluid">
    <div class="row">
      <div class="col-6">
        <a mat-button href="" class="bg-light">
          <mat-icon
            [svgIcon]="setIcon(data?.approvalStatus || 0)"
            mat-raised-button
          ></mat-icon>
          {{ getTransactionStatusKey(data?.approvalStatus || 1) }}
        </a>
        <a
          mat-button
          *ngIf="data?.approvalStatus !== approvalStatus.Approved"
          (click)="editTransaction(data?.transferType || 0)"
        >
          <mat-icon svgIcon="edit"></mat-icon>
          Edit
        </a>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button
          *ngIf="data?.approvalStatus !== approvalStatus.Pending"
          mat-raised-button
          class="me-3"
          color="primary"
          [disabled]="data?.approvalStatus !== approvalStatus.Rejected"
          (click)="reinitiate()"
        >
          <span class="pe-3 ps-3">Reinitiate</span>
        </button>
        <button
          (click)="approve()"
          class="me-3"
          mat-raised-button
          color="primary"
          *ngIf="data?.approvalStatus === approvalStatus.Pending"
        >
          <span class="pe-3 ps-3">Approve</span>
        </button>
        <button
          (click)="reject()"
          mat-stroked-button
          color="primary"
          *ngIf="data?.approvalStatus === approvalStatus.Pending"
        >
          <span class="pe-3 ps-3">Reject</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row gx-0">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="data?.approvalStatus === approvalStatus.Rejected"
  >
    <span class="text-danger strong-text">
      <mat-icon svgIcon="exclamation"></mat-icon> Reason for rejection
    </span>
    <br />
    <span class="error-description">{{ data?.remarks }}</span>
  </div>
  <!-- Transaction info -->
  <mat-divider class="mt-4"></mat-divider>
  <div class="row mt-3">
    <div class="col mt-3">
      <span class="text-grey text-sm">Payment Date</span>
      <p class="mb-0 text-sm pb-0">
        {{ data?.dateCreated | date: "mediumDate" }}
      </p>
    </div>
    <div class="col mt-3">
      <span class="text-grey text-sm">From</span>
      <p class="mb-0 text-sm pb-0">{{ data?.sourceAccountName }}</p>
      <p class="mb-0 text-sm pb-0">{{ data?.sourceAccount }}</p>
      <p class="mb-0 text-sm pb-0">{{ data?.sourceBank }}</p>
    </div>
    <div class="col mt-3">
      <span class="text-grey text-sm">Narration</span>
      <p class="mb-0 text-sm pb-0">{{ data?.narration }}</p>
    </div>
  </div>
  <mat-divider class="mt-3"></mat-divider>

  <div class="row mt-3">
    <h4 class="strong-text">Beneficiary Details</h4>
    <div class="d-flex flex-column">
      <div class="row">
        <div class="col-4 mt-3">
          <span class="text-grey text-sm">Beneficiary Name</span>
          <p class="mb-0 text-sm pb-0">{{ data?.beneficiaryName }}</p>
        </div>
        <div class="col-4 mt-3">
          <span class="text-grey text-sm">Account Number</span>
          <p class="mb-0 text-sm pb-0">{{ data?.beneficiaryAccount }}</p>
        </div>
        <div
          class="col-4 mt-3"
          *ngIf="transactionType.SWIFT === data?.transferType?.toString()"
        >
          <span class="text-grey text-sm">IBAN Number</span>
          <p class="mb-0 text-sm pb-0">{{ data?.narration }}</p>
        </div>

        <div class="col-md-4 mt-3">
          <span class="text-grey text-sm">Beneficiary Bank</span>
          <p class="mb-0 text-sm pb-0">{{ data?.beneficiaryBank }}</p>
        </div>

        <div class="col-md-4 mt-3">
          <span class="text-grey text-sm">Beneficiary Bank Code</span>
          <p class="mb-0 text-sm pb-0">{{ data?.beneficiaryBankCode }}</p>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="mt-4"></mat-divider>

  <div class="row mt-4">
    <h4 class="strong-text">Supporting documents</h4>
    <app-card-component
      class="row col-4 mt-3"
      [data]="{
        text: 'Uploaded documents',
        subText: data?.documents?.length + ' Documents'
      }"
      (click)="openUploadModal()"
    ></app-card-component>
  </div>
</div>

<div class="row" *ngIf="status === 'Reinitiated'">
  <app-confirmation-completion
    [data]="completionData"
    (confirmationDone)="confirmationDone($event)"
  ></app-confirmation-completion>
</div>
