.activity-detail {
  background-image: url("../../../../../../assets/images/backgrounds/activities-transaction-header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
}

.error-description {
  padding-left: 1.8rem !important;
}
