<div class="m-3 pb-3">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">Security questions</p>
  <h3 class="m-4 ms-2 mb-5">Please select your security question</h3>

  <div
    class="row cursor-pointer"
    *ngFor="
      let question of questions.allQuestions;
      let isLast = last;
      let i = index
    "
    (click)="onSelect(question)"
  >
    <div class="col-md-10">{{ question.securityQuestion }}</div>
    <div class="col-md-2">
      <mat-icon
        color="primary"
        [svgIcon]="isSelected(question) ? 'check_round' : 'radio_button_off'"
      ></mat-icon>
    </div>
    <mat-divider *ngIf="!isLast" class="m-2"></mat-divider>
  </div>
</div>
