<div>
    <div class="mb-3">
      <button mat-icon-button aria-label="Back" class="back-icon" routerLink="/customer-onboarding/add-members">
        <div class="strong-text">
          <mat-icon svgIcon="caret_left"></mat-icon>
          <span>Register</span>
        </div>
      </button>
    </div>
    <h3 class="strong-text">Please add the team members in your company</h3>

        <div class="row product-list-item col-md-6" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
              <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
              </div>
            </div>
            <div class="col-10  offset-md-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4 class="strong-text">Add team members</h4>
                  <small class="text-grey">Team members have access to various permissions and roles</small>
=                </div>
                <div class="col-2 float-right">
                  <mat-icon svgIcon='caret_right'></mat-icon>
                </div>
              </div>
            </div>
        </div>
        <h3 class="strong-text pt-5 pb-3">List of team members</h3>
        <div class="row">
        <div class="row product-list-item col-md-6" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
              <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
              </div>
            </div>
            <div class="col-10  offset-md-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4>Name and last name</h4>
                  <small class="text-grey">Secondary label</small>
                </div>
                <div class="col-2 float-right">
                    <div class="btn-group dropend">
                        <button mat-icon-button aria-label="Back" class="back-icon" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button routerLink="/customer-onboarding/add-members">
                                        Edit
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button (click)="delete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row product-list-item col-md-6" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
              <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
              </div>
            </div>
            <div class="col-10  offset-md-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4>Name and last name</h4>
                  <small class="text-grey">Email address</small>
                </div>
                <div class="col-2 float-right">
                    <div class="btn-group dropend">
                        <button mat-icon-button aria-label="Back" class="back-icon" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button routerLink="/customer-onboarding/add-members">
                                        Edit
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button (click)="delete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row product-list-item col-md-6" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
              <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
              </div>
            </div>
            <div class="col-10  offset-md-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                    <h4>Name and last name</h4>
                    <small class="text-grey">Email address</small>
                </div>
                <div class="col-2 float-right">
                    <div class="btn-group dropend">
                        <button mat-icon-button aria-label="Back" class="back-icon" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button routerLink="/customer-onboarding/add-members">
                                        Edit
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button (click)="delete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row product-list-item col-md-6" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
              <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
              </div>
            </div>
            <div class="col-10  offset-md-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                    <h4>Name and last name</h4>
                    <small class="text-grey">Email address</small>
                </div>
                <div class="col-2 float-right">
                    <!-- <mat-icon>more_horiz</mat-icon> -->
                    <div class="btn-group dropend">
                        <button mat-icon-button aria-label="Back" class="back-icon" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button routerLink="/customer-onboarding/add-members">
                                        Edit
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <div class="col-4">
                                    <div class="icon-container">
                                    <mat-icon color="primary" aria-hidden="false">swap_horiz</mat-icon>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <button mat-icon-button (click)="delete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div>
        <div class="mt-4">
            <button mat-raised-button color="primary" class="px-5">Save & continue</button>
        </div>
        
  </div>