<div class="row gx-0">
  <div class="col-md-12">
    <div class="row gx-0 mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/auth/customer-onboarding/register/team-members"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>Edit</span>
            </div>
          </button>
        </div>
        <div class="row mt-3">
          <h3>Please enter the team member's details</h3>
          <form [formGroup]="teamMemberDetailsForm" class="d-flex flex-column">
            <div class="row pt-4">
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>Full name</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter their first and last name"
                    formControlName="fullName"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>Email address</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter their email address"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>ID/PP</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter their ID number"
                    formControlName="idpp"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>Mobile number</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter their mobile number"
                    formControlName="mobileNumber"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>Transaction Limit</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="5,000,000.00"
                    formControlName="transactionLimit"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field
                  appearance="standard"
                  style="width: 100%"
                  floatLabel="always"
                >
                  <mat-label>Office phone number</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Enter their office number"
                    formControlName="officePhoneNumber"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 mt-5">
                <div
                  class="row product-list-item"
                  routerLink="/auth/customer-onboarding/register/team-member-roles"
                >
                  <div class="col-md-2">
                    <button mat-fab class="text-primary">
                      <mat-icon>person</mat-icon>
                    </button>
                  </div>
                  <div class="col-md-7 product-list-item-label">
                    <p class="mb-0">Team member roles</p>
                    <small class="text-grey"
                      >Add the details of your company's directors</small
                    >
                  </div>
                  <div class="col-1 text-grey pt-4">off</div>
                  <div class="col-md-2 card card-block justify-content-center">
                    <mat-icon color="primary" svgIcon="caret_right"></mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <button
            mat-raised-button
            color="primary"
            class="mt-5 col-md-3"
            routerLink="/auth/customer-onboarding/register/team-members"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
