<h3 class="strong-text">Confirmation</h3>

<div class="row">
  <div class="col-md-6">
    <img
      class="img-fluid mt-4 mb-4"
      src="assets/images/icons/visual-support-icons-virtual-account-submission-avatar.svg"
    />
  </div>
  <div class="col-md-6 pt-3">
    <h3>Virtual account opening submitted for approval!</h3>
    <small class="text-grey">Waiting for approval</small>

    <div class="row pt-5">
      <button mat-raised-button color="primary">Done</button>
    </div>
  </div>
</div>
