<mat-card class="mt-4">
  <mat-card-content>
    <div class="row">
      <div class="col-md-3 card card-block justify-content-center">
        <mat-card class="account-card pt-1">
          <div class="row card card-block justify-content-center">
            <small class="text-white">Account Alias</small>
            <h4 class="text-white">BIZNET KEX</h4>
          </div>
        </mat-card>
      </div>
      <div class="col-md-2">
        <div class="text-grey">Account <br />Name</div>
        <p>List Item</p>
      </div>
      <div class="col-md-2">
        <div class="text-grey">Account<br />Number</div>
        <p>List Item</p>
      </div>
      <div class="col-md-2">
        <div class="text-grey">Account <br />Type</div>
        <p>List Item</p>
      </div>
      <div class="col-md-2">
        <div class="text-grey">Account <br />Balance</div>
        <p>List Item</p>
      </div>
      <div class="col-md-1 card card-block justify-content-center">
        <mat-icon svgIcon="caret_right"></mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
