.upload-doc {
    border: 2.5px dashed #929497;
    box-sizing: border-box;
    border-radius: 8px;
    height: 450px;
}

.button_icon {
    background: rgba(146, 148, 151, 0.2);
    box-shadow: none;
  }

.user {
    border-radius: 12px;
    background: #A32A29;
}  