.product-list-item {
  position: relative;
  .menu {
    position: absolute;
    display: none;
    z-index: 999;
    right: 1rem;
    top: 1rem;
    &.show {
      display: block;
    }
  }
  .menu-item {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }
}
