<mat-card class="cursor-pointer" [routerLink]="data.route && data.route">
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <div class="" *ngIf="data.prefixIcon">
        <img
          class="img-fluid"
          width="45px"
          [src]="data.prefixIcon"
          alt="Generic placeholder image"
        />
      </div>
      <div class="">
        <div class="mb-0" [innerHTML]="data.text"></div>
        <small
          *ngIf="data.subText"
          class="text-grey"
          [innerHTML]="data.subText"
        ></small>
      </div>
      <div *ngIf="data.suffixIcon">
        <mat-icon color="primary" [svgIcon]="data.suffixIcon"></mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
