<mat-card class="cursor-pointer" [routerLink]="data.route">
  <mat-card-content>
    <div class="row">
      <div class="col-md-2" *ngIf="data.prefixIcon">
        <img
          class="img-fluid"
          width="45px"
          [src]="data.prefixIcon"
          alt="Generic placeholder image"
        />
      </div>
      <div class="col-md-8 card card-block justify-content-center">
        <div class="mb-0" [innerHTML]="data.text"></div>
        <small class="text-grey" [innerHTML]="data.subText"></small>
      </div>
      <div
        *ngIf="data.suffixIcon"
        class="col-md-2 card card-block justify-content-center"
      >
        <mat-icon color="primary" [svgIcon]="data.suffixIcon"></mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
