<mat-card class="cursor-pointer" [routerLink]="data.route && data.route">
  <mat-card-content>
    <div class="row gx-0">
      <div class="col-2">
        <div class="" *ngIf="data.prefixIcon">
          <img
            class="img-fluid"
            width="45px"
            [src]="data.prefixIcon"
            alt="Generic placeholder image"
          />
        </div>
      </div>
      <div class="col-9">
        <div class="">
          <div class="mb-0" [innerHTML]="data.text"></div>
          <small
            *ngIf="data.subText"
            class="text-grey"
            [innerHTML]="data.subText"
          ></small>
        </div>
      </div>
      <div class="col-1">
        <div *ngIf="data.suffixIcon" class="mt-2">
          <mat-icon color="primary" [svgIcon]="data.suffixIcon"></mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
