<div class="row mt-2 mb-1">
  <div class="col-md-11">
    <mat-form-field appearance="outline" style="width: 100%">
      <input matInput [(ngModel)]="searchText" placeholder="Search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-md-1">
    <img
      class="img-fluid"
      style="width: 50px"
      src="./assets/images/icons/visual-support-icons-modulator.svg"
    />
  </div>
</div>
<div
  class="row mt-1 mb-1 p-2 trans-card cursor-pointer"
  *ngFor="let transaction of transactions; let i = index"
  (click)="openTransaction(transaction, i)"
>
  <div class="strong-text">{{ transaction.title }}</div>
  <div class="d-flex justify-content-between">
    <div>{{ transaction.description }}</div>
    <div>{{ transaction.amount }}</div>
  </div>
  <div class="d-flex align-items-start">
    <span class="pe-3">
      <small class="text-grey">{{ transaction.date }}</small>
    </span>
    <span class="pe-3" *ngIf="category === 'history'">
      <mat-icon [svgIcon]="transactionIcon[transaction.status]"></mat-icon>
    </span>
    <span class="pe-3" *ngIf="category === 'history'">
      <small class="strong-text">{{ transaction.status }}</small>
    </span>
  </div>
</div>
<app-paginator [data]="paginationData"></app-paginator>
