<div class="airtime-modal-screen p-1" *ngIf="visibility">
    <div class="row">
        <div class="col-md-4">
          <mat-icon (click)="close()" svgIcon="caret_left"></mat-icon>
        </div>
        <h4 class="fw-bold col-md-8">Buy for someone new</h4>
    </div>
    <h3 class="strong-text pt-4 pb-3">Please select an operator</h3>
  
    <form class="d-flex flex-column" [formGroup]="airtimeForm">
      <mat-form-field
      appearance="standard"
      style="width: 100%"
      floatLabel="always"
      (click)="openCountrySelectionModal()"
      >
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          class="strong-text"
          [value]="value?.countryName || ''"
          placeholder="Select country"
          formControlName="country"
        />
        <button type="button" mat-icon-button matSuffix>
          <mat-icon svgIcon="caret_down"></mat-icon>
        </button>
      </mat-form-field>

        <app-mobile-operators
        *ngFor="let account of telcos" 
        [data]="account"
        [isChecked]="selected && selected.telco === account.telco"
        >
        </app-mobile-operators>
    </form> 
    <!-- <app-mobile-operators-modal
    [transferType]="data"
  ></app-mobile-operators-modal> -->
</div>
