.airtime-modal-screen {
    width: 400px;
    margin: 0;
    padding: 0;
  }
  
  .mat-dialog-container {
    margin: 0;
    padding: 0;
  }
  .close-button{
    float: left;
    top:0px;
    right:0px;
  }