<div class="row g-0 h-100">
  <div class="col-lg-8">
    <app-welcome-info></app-welcome-info>
  </div>
  <div class="col-lg-4">
    <router-outlet></router-outlet>
    <div class="bottom-panel">
      <div class="row g-0 justify-content-between bottom-panel-selections">
        <div class="col-6">
          <app-language-input></app-language-input>
        </div>
        <div class="col-6">
          <app-customer-support></app-customer-support>
        </div>
      </div>
    </div>
  </div>
</div>
