<div class="own-equity-modal-screen px-2">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">Transaction Type</p>
  <h3 class="strong-text">Please select a transaction type</h3>
  <div>
    <div
      class="p-4 my-2 d-flex justify-content-between align-items-center rounded currency-item"
      (click)="selectTransactionType('sell')"
    >
      <div>Buy</div>
      <mat-icon
        color="primary"
        [svgIcon]="
          transactionType === 'sell' ? 'check_round' : 'radio_button_off'
        "
      ></mat-icon>
    </div>
    <div
      class="p-4 my-2 d-flex justify-content-between align-items-center rounded currency-item"
      (click)="selectTransactionType('buy')"
    >
      <div>Sell</div>
      <mat-icon
        color="primary"
        [svgIcon]="
          transactionType === 'buy' ? 'check_round' : 'radio_button_off'
        "
      ></mat-icon>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
