    <div>
          <div class="mb-3">
            <button
              mat-icon-button
              aria-label="Back"
              class="back-icon"
              routerLink="/transact"
            >
              <div class="strong-text">
                <mat-icon svgIcon="caret_left"></mat-icon>
                <span>Send to your own equity account</span>
              </div>
            </button>
          </div>
          <h3 class="strong-text">Please enter the payment details</h3>
          <div class="row pt-5">
            <div class="col-md-6 col-sm-6">
              <div >
                  <small class="text-grey">Send from</small><br>
                    <mat-form-field class="d-flex flex-column">
                      <mat-label class="strong-text">Loot</mat-label>
                      <mat-select (click)="openAccountSendFrom()">
                        <!-- <mat-option>
                          Loot
                        </mat-option> -->
                      </mat-select>
                      <small class="text-grey">Available balance 999,999,999.99 CDF</small>
                    </mat-form-field>

              </div>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                    <small class="text-grey">Amount</small>
                    <mat-form-field class="d-flex flex-column">
                      <mat-label class="strong-text">KES</mat-label>
                      <mat-select (click)="openCurrencyDialog()">
                        <!-- <mat-option>

                        </mat-option> -->
                      </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-9 col-sm-6 pt-4">
                    <mat-form-field class="d-flex flex-column">
                      <input matInput class="pb-2" placeholder="Enter an amount">
                    </mat-form-field>
                </div>
            </div>

            <div>
              <small class="text-grey">FX reference ID</small><br>
                <mat-form-field class="d-flex flex-column">
                  <input matInput class="pb-2" placeholder="Enter FX reference ID">
                </mat-form-field>
          </div>

            </div>
            <div class="col-md-6 col-sm-6 pt-3">
              <div>
                <small class="text-grey pr-5">Send to</small><br>
                <mat-form-field class="d-flex flex-column">
                  <mat-label>Select an account</mat-label>
                  <mat-select (click)="openAccountSendTo()">
                    <!-- <mat-option>

                    </mat-option> -->
                  </mat-select>
                </mat-form-field>
            </div>

            <div>
                <small class="text-grey">Schedule payment</small><br>
                <mat-form-field class="d-flex flex-column">
                  <mat-label>Select a payment date</mat-label>
                  <input matInput class="pb-2">
                  <mat-datepicker-toggle matSuffix (click)="openPaymentDialog()"></mat-datepicker-toggle>
                  <mat-datepicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <small class="text-grey">Payment reason</small><br>
                    <mat-form-field class="d-flex flex-column">
                      <input matInput class="pb-2" placeholder="Optional">
                    </mat-form-field>
            </div>
            </div>
          </div>
          <div class="pt-5">
            <button mat-flat-button disabled class="px-5">Send money</button>
          </div>
        </div>
