<mat-form-field
  appearance="standard"
  style="width: 100%"
  floatLabel="always"
  (click)="openTransferToModal()"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    class="strong-text"
    [id]="fieldName"
    [name]="fieldName"
    [value]="value?.accountName || value?.phoneNumber || ''"
    [disabled]="isDisabled"
    (input)="onChange($event)"
    (blur)="touched()"
    [placeholder]="placeholder"
  />
  <button type="button" mat-icon-button matSuffix>
    <mat-icon svgIcon="caret_down"></mat-icon>
  </button>
  <small class="text-grey text-sm-start mt-2 mb-0">
    {{
      value?.bank?.bankName || value?.mobileOperator?.operatorCountry
    }} </small
  ><br />
  <small class="text-grey text-sm-start mt-2 mb-0">{{
    value?.accountNumber || value?.mobileOperator?.operatorName
  }}</small>
</mat-form-field>
