<div class="row">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/borrow"
          >
            <div class="strong-text">
              <span>Confirmation</span>
            </div>
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-5">
          <div class="">
            <img
              src="assets/images/Illustrations/Group 29.svg"
              alt="Request submitted for approval"
            />
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <h4 class="mt-5">
              Loan repayment has been submitted for approval!
            </h4>
            <span class="text-sm mb-2"> Permanent Ammendment.</span>
            <span class="text-sm text-grey mb-2">
              Transaction KES 0.00, daily transaction limit KES 0.00. on
              16/04/2020 at 10:45:23</span
            >
            <span class="text-sm text-grey">waiting for approval</span>
          </div>
          <div class="row col-md-3">
            <button
              mat-raised-button
              type="button"
              color="primary"
              class="px-5 mt-4"
              routerLink="/borrow"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
