mat-icon {
  color: var(--equity);
}

mat-form-field mat-icon {
  color: var(--cool-grey);
}

.colored-border {
  border-color: var(--equity) !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td,
th {
  color: var(--black);
  font-size: 12px;
}

th {
  font-weight: 600;
  background-color: #e9eaea;
}

.status {
  text-transform: capitalize;

  &.enabled {
    color: var(--green);
  }
  &.disabled {
    color: var(--orange);
  }
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--equity) !important;
}

::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: var(--equity) !important;
}

.footer {
  text-align: right;
}
