<div class="row align-items-stretch mb-2 pb-2 cursor-pointer" (click)="select()">
    <div class="col-md-3">
      <img class="rounded-circle img-fluid"
        [src]="data.imageLink || 'https://images.pexels.com/photos/1317712/pexels-photo-1317712.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=750'"
        alt="Generic placeholder image">
    </div>
    <div class="col-md-9">
      <div class="row user-list-item">
        <div class="col-md-10">
          <h4>{{data.name}}</h4>
          <small class="mb-1 text-grey">{{data.phoneNumber}} </small><br>
          <small class="mb-1 text-grey">{{data.channel}} &#183; {{data.country}} </small>
        </div>
        <div class="col-md-2">
          <mat-icon color="primary" [svgIcon]="isChecked ? 'check_round' : 'radio_button_off'"></mat-icon>
        </div>
      </div>
    </div>
  </div>
