<div class="add-modal-screen p-0 mat-elevation-z0">
    <div class="row">
        <div class="col-md-3">
          <mat-icon (click)="close()">close</mat-icon>
        </div>
        <h4 class="strong-text col-md-9">Add to favourites</h4>
    </div>
    <h3 class="strong-text pt-4">Your contact has been added successfully</h3>            
    <small class="pb-5 text-grey">A new contact has been added to your favourites list. You can now send them airtime anytime. </small>
    <div class="pt-5 mt-5">
        <button color="primary" (click)="close()" mat-flat-button class="px-5">Done</button>
    </div>
</div>
  