<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="strong-text mt-5">Confirmation</h3>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-5">
            <div class="">
              <img src="assets/images/Illustrations/Group 29.svg" alt="">  
            </div>
            
        </div>

        <div class="col-7">
            <h3 class="mt-5 strong-text">Goods purchase has been submitted for approval!</h3><br>

            <small>Permanent Amendment</small><br>

            <span class="text-sm text-grey">Transaction of KES 0.00, daily transact limit of KES 0.00 on 16/04/2021 at 10:45:23 was submitted for approval.</span>

            <br><br>

            <span class="text-sm text-grey">You will be notified once the transaction has been approved</span>

            <br>

            <div class="row col-md-10">
                <div class="col-md-4">
                    <button mat-raised-button type="button" color="primary" class="px-5 mt-4" (click)="done()">Done</button>
                </div>
                <div class="col-md-3">
                    <button mat-stroked-button type="button" color="primary" class="px-5 mt-4" (click)="openAddMerchant()">Add to favourites</button>
                </div> 
            </div>
        </div>
    </div>
</div>

