<div>
    <div class="mb-3">
      <button mat-icon-button aria-label="Back" class="back-icon" routerLink="/transact/">
        <div class="strong-text">
          <mat-icon svgIcon="caret_left"></mat-icon>
          <span>Send via pesalink</span>
        </div>
      </button>
    </div>
    <h3 class="strong-text">Please enter the payment details</h3>
    <form [formGroup]="equityForm" (ngSubmit)="submit()" class="d-flex flex-column" autocomplete="off">
      <div class="row pt-4">
        <div class="col-md-6">
          <mat-form-field appearance="standard" style="width: 100%">
            <mat-label>Send from</mat-label>
            <input matInput type="text" [readonly]="true" formControlName="fromAccount">
            <button type='button' mat-icon-button matSuffix (click)="openAccounts()">
              <mat-icon svgIcon="caret_down"></mat-icon>
            </button>
            <p *ngIf="sendFrom" class="text-grey text-sm-start mt-2 mb-0">Available balance {{sendFrom?.balance |
              number:'0.2'}} {{sendFrom?.currency}}</p>
          </mat-form-field>
        </div>
        <div class="col-md-6  align-self-end">
          <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
            <mat-label>Send to</mat-label>
            <input matInput type="text" placeholder="Select the recipient" [readonly]="true" formControlName="recipient">
            <button type='button' mat-icon-button matSuffix (click)="openFavourites()">
              <mat-icon svgIcon="caret_down"></mat-icon>
            </button>
            <small class="text-grey text-sm-start mt-2 mb-0">{{phoneLinked ? phoneLinked?.bank : recepientBankDetails?.bank}}</small>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div class="row justify-content-between">
            <div class="col-md-4">
              <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="text" [readonly]="true" formControlName="currency" placeholder="{{currency?.text || 'KES'}}">
                <button type='button' mat-icon-button matSuffix (click)="openCurrencies()">
                  <mat-icon svgIcon="caret_down"></mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field appearance="standard" style="width: 100%">
                <mat-label>Enter an amount</mat-label>
                <input matInput type="text" formControlName="amount">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <small><small>{{paymentDate && 'Payment Scheduled' || 'Schedule Payment'}}</small></small>
          <div class="row">
            <div class="col-md-10">
              <div *ngIf="paymentDate">
                <p class="text-grey mb-0">
                  {{paymentDate.frequency}} on the {{paymentDate.startDate | date:'d' }}
                </p>
                <p class="text-grey mb-0">
                  Reminder {{paymentDate.reminder }}
                </p>
              </div>
              <div *ngIf="!paymentDate">
                <p class="text-grey mb-0">
                  Select a payment date
                </p>
              </div>
            </div>
            <div class="col-md-1 cursor-pointer datepicker-toggle" (click)="openPaymentDialog()">
              <mat-icon>date_range</mat-icon>
            </div>
          </div>
          <mat-divider class="p-1"></mat-divider>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
            <mat-label>FX Reference ID</mat-label>
            <input matInput type="text" placeholder="Enter FX reference ID">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard" style="width: 100%" floatLabel="always">
            <mat-label>Payment reason</mat-label>
            <input matInput type="text" placeholder="Optional">
          </mat-form-field>
        </div>
      </div>
      <div class="pt-3">
        <h3 class="strong-text">Additional Information</h3>
        <small class="text-grey">If you are sending more than 10,000,000 we need more information from you</small><br>
        
          <div class="col-md-6 upload-container mt-4"  (click)="openSupportingDocuments()">
            <div>Upload a document</div>
            <mat-icon class="folder-icon">note_add</mat-icon>
          </div>
        </div>
      <div class="my-5">
        <button mat-raised-button color="primary" disabled class="px-5">Send money</button>
      </div>
    </form>
  </div>
