<div>
    <div class="mb-3">
      <button mat-icon-button aria-label="Back" class="back-icon" routerLink="/transact/buy-goods/otp-verification">
        <div class="strong-text">
          <mat-icon svgIcon="caret_left"></mat-icon>
          <span>Verify transaction</span>
        </div>
      </button>
    </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="">
                  <img src="assets/images/Illustrations/Visit_a_branch.svg" alt="">  
                </div>   
            </div>
            <div class="col-6 pt-5 mt-5">
                <h3 class="strong-text">Visit your nearest branch to update your contact details</h3>
                <small class="text-grey">Come say hello, we’d love to meet you. Bring your ID and our team will gladly assist you. </small><br>
                <div class="pt-5 mt-5">
                <button mat-raised-button type="submit" color="primary" class="px-5">Find a branch</button>
                </div>
            </div>
        </div>  
</div>