<app-corporate-user-form [data]="userFormprop"></app-corporate-user-form>

<!-- <div class="row mt-5">
          <h2>Access details</h2>
          <div
            class="row col-md-6 product-list-item"
            (click)="showAccounts()"
            matRipple
          >
            <div class="col-1 my-auto">
              <div class="icon-container">
                <mat-icon color="primary" [svgIcon]="'add-account'"></mat-icon>
              </div>
            </div>
            <div class="col-10 offset-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4>Accounts to access</h4>
                </div>
                <div class="col-2 float-right">
                  <mat-icon [svgIcon]="'caret_right'"></mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row col-md-6 product-list-item"
            routerLink="products"
            matRipple
          >
            <div class="col-1 my-auto">
              <div class="icon-container">
                <mat-icon color="primary" [svgIcon]="'withdraw'"></mat-icon>
              </div>
            </div>
            <div class="col-10 offset-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4>Product modules to access</h4>
                </div>
                <div class="col-2 float-right">
                  <mat-icon [svgIcon]="'caret_right'"></mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button
              mat-raised-button
              color="primary"
              class="mt-5 col-md-3"
              [disabled]="userDetailsForm.invalid"
              (click)="save()"
            >
              Save
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row product-list-item" routerLink="limits" matRipple>
            <div class="col-1 my-auto">
              <div class="icon-container">
                <mat-icon color="primary" [svgIcon]="'user_limit'"></mat-icon>
              </div>
            </div>
            <div class="col-10 offset-1 product-list-item-label">
              <div class="row h-100 justify-content-around align-items-center">
                <div class="col-10 float-left text-truncate">
                  <h4>Edit User Limit</h4>
                </div>
                <div class="col-2 float-right">
                  <mat-icon [svgIcon]="'caret_right'"></mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div> -->
