<div class="row"> 
        <div class="col-md-12">
                <div class="row mb-3 justify-content-md-center">
                  <div class="col-md-10">
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <h3 class="strong-text">What would you like to do?</h3>
                      
                        <!--Send Money-->
                        <h3 class="strong-text mt-4">Send money</h3>
                        <br>
                        <div class="leftbox">
                          <div mat class="icons-data" mat-ripple>
                            <div class="icon-container">
                              <mat-icon color="primary">swap_horiz</mat-icon>
                            </div>
                      
                            <div class="content col-md-8">
                              Own Equity account
                            </div>
                            <div class="arrow">
                              <mat-icon svgIcon="caret_right"></mat-icon>
                            </div>
                          
                          </div>
                          <mat-divider class="divider-mat"></mat-divider> 
                          <br>
                          <div mat class="icons-data" mat-ripple>
                            <div class="icon-container">
                              <mat-icon color="primary">phone_iphone</mat-icon>
                            </div>
                      
                            <div class="content col-md-8">
                              Mobile money
                            </div>
                            <div class="arrow">
                              <mat-icon svgIcon="caret_right"></mat-icon>
                            </div>
                          
                          </div>
                          <mat-divider class="divider-mat"></mat-divider> 
                          <br>
                          <div mat class="icons-data" mat-ripple>
                            <div class="icon-container">
                              <mat-icon color="primary">credit_card</mat-icon>
                            </div>
                      
                            <div class="content col-md-8">
                              Pay to a card
                            </div>
                            <div class="arrow">
                              <mat-icon svgIcon="caret_right"></mat-icon>
                            </div>
                          
                          </div>
                          
                        </div>
            
                        <div class="rightbox">
                          <div mat class="icons-data" mat-ripple>
                              <div class="icon-container">
                                <mat-icon color="primary">input</mat-icon>
                              </div>
                            <div class="content col-md-8">
                              Another Equity account
                            </div>
                            <div class="arrow">
                              <mat-icon svgIcon="caret_right"></mat-icon>
                            </div>
                        </div>
                        <mat-divider class="divider-mat"></mat-divider>
                        <br>
                        <div mat class="icons-data" mat-ripple>
                          <div class="icon-container">
                            <mat-icon color="primary">account_balance</mat-icon>
                          </div>
                          <div class="content col-md-8">
                            Another Bank
                          </div>
                          <div class="arrow">
                            <mat-icon svgIcon="caret_right"></mat-icon>
                          </div>
                          </div>
                          <mat-divider class="divider-mat"></mat-divider>
                        </div>
                        <mat-divider class="divider"></mat-divider> 
                      </div>
                        <br>
            
                        <!--Pay with equity-->
                        <div class="col-md-12">
                          <h3 class="strong-text mt-4">Pay with Equity</h3>
                          <br>
                          <div class="leftbox">
                            <div mat class="icons-data" mat-ripple>
                              <div class="icon-container">
                                <mat-icon color="primary">receipt</mat-icon>
                              </div>
                        
                              <div class="content col-md-8">
                                Pay a bill
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                            
                            </div>
                            <mat-divider class="divider-mat"></mat-divider> 
                            <br>
                            <div mat class="icons-data" mat-ripple>
                              <div class="icon-container">
                                <mat-icon color="primary">shopping_cart</mat-icon>
                              </div>
                        
                              <div class="content col-md-8">
                                Pay to an M-PESA till
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                            
                            </div>
                          </div>
              
                          <div class="rightbox">
                            <div mat class="icons-data" mat-ripple>
                                <div class="icon-container">
                                  <mat-icon color="primary">shopping_cart</mat-icon>
                                </div>
                              <div class="content col-md-8">
                                Buy goods
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                          </div>
                          <mat-divider class="divider-mat"></mat-divider>
                          <br>
                          </div>
                          <mat-divider class="divider-pay"></mat-divider> 
                        </div>
            
                         <!--But Air time-->
                         <div class="col-md-12">
                          <h3 class="strong-text mt-4">Buy airtime</h3>
                          <br>
                          <div class="leftbox">
                            <div mat class="icons-data" mat-ripple>
                              <div class="icon-container">
                                <mat-icon color="primary">stay_current_portrait</mat-icon>
                              </div>
                        
                              <div class="content col-md-8">
                                Air time
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                            
                            </div>
                            
                          </div>
                          <mat-divider class="divder-buy"></mat-divider> 
                        </div>
            
                        <!--Withdraw money-->
                        <div class="col-md-12">
                          <h3 class="strong-text mt-4">Withdraw money</h3>
                          <br>
                          <div class="leftbox">
                            <div mat class="icons-data" mat-ripple>
                              <div class="icon-container">
                                <mat-icon color="primary">local_atm</mat-icon>
                              </div>
                        
                              <div class="content col-md-8">
                                ATM
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                            
                            </div>
                          </div>
              
                          <div class="rightbox">
                            <div mat class="icons-data" mat-ripple>
                                <div class="icon-container">
                                  <mat-icon color="primary">support_agent</mat-icon>
                                </div>
                              <div class="content col-md-8">
                                Agent
                              </div>
                              <div class="arrow">
                                <mat-icon svgIcon="caret_right"></mat-icon>
                              </div>
                          </div>
                          <br>
                          </div>
                        </div>
                    
                  </div>
                </div>
              </div>       
</div>
      