.language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 80px;
    background-color: var(--cool-grey-20);
    box-shadow: none;
  
    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
    }
  }

.icons-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.leftbox {
    float:left; 
    width:50%;
}
.rightbox{
    float:right; 
    width:50%;
}

.divider-mat{
    width: 70%;
    margin-left: 63px;
    margin-top: 15px;
}

.divider {
    margin-top: 245px;
    width: 95%;
}

.divider-pay {
    margin-top: 157px;
    width: 95%;
}

.divder-buy {
    margin-top: 68px;
    width: 95%;
}

.content{
    padding-left: 15px;
}

.arrow {
    color: #A32A29;
}
