<div class="row product-list-item" (click)="route()"  matRipple>
    <div class="col-1 my-auto">
      <div class="icon-container">
      <mat-icon color="primary" aria-hidden="false">{{item.leftIcon}}</mat-icon>
      </div>
    </div>
    <div class="col-10  offset-md-1 product-list-item-label">
      <div class="row h-100 justify-content-around align-items-center">
        <div class="col-10 float-left text-truncate">
          <div>{{ item.text }}</div>
          <small class="text-grey">{{item.subtext}}</small>
        </div>
        <div class="col-2 float-right">
          <mat-icon [svgIcon]="item.rightIcon || 'caret_right'"></mat-icon>
        </div>
      </div>
    </div>
  </div>
