<div>
    <div class="my-3">
      <button
        mat-icon-button
        aria-label="Back"
        class="back-icon"
        routerLink="/more"
      > 
        <div class="strong-text">
          <mat-icon svgIcon="caret_left"></mat-icon>
          <span>Verify</span>
        </div>
      </button>
    </div>
    <form
      class="d-flex flex-column"
      autocomplete="off"
      [formGroup]="otpVerificationCodeForm"
    >
      <div *ngIf="otpVerificationType">
        <app-verify-otp-code
          [data]="otpVerificationType"
        ></app-verify-otp-code>
      </div>
    </form>
  </div>
  

  