<mat-error *ngIf="formField?.dirty">
	<small class="validationError" *ngIf="formField?.hasError('required')">
		This is a required field.
	</small>

	<span class="validationError" *ngIf="formField?.hasError('noEmptyString')">
		Please enter a valid name.
	</span>

	<span class="validationError" *ngIf="formField?.hasError('normalEmailRule')">
		Email format is invalid.
	</span>

	<span class="validationError" *ngIf="formField?.hasError('noWhitespaceRequired')">
		No spaces allowed.
	</span>

	<small class="validationError" *ngIf="formField?.errors?.isWithinLimit === false">
		Invalid Limit for transaction
	</small>
</mat-error>
