<div class="row pt-md-5 access-panel-content">
    <div class="col-md-12">
      <div class="row mb-4 justify-content-md-center">
        <div class="col-md-11">
            <div class="mb-3">
              <button
                mat-icon-button
                aria-label="Back"
                class="back-icon"
                routerLink="/dashboard/"
              >
                <div class="strong-text">
                  <mat-icon svgIcon="caret_left"></mat-icon>
                  <span>Send to your own equity account</span>
                </div>
              </button>
            </div>
            <h3 class="strong-text">Please enter the payment details</h3>
            <div class="row pt-5">
              <div class="col-md-6 col-sm-6">
                <div>
                    <small class="text-grey">Send from</small><br> 
                    <div mat class="d-flex flex-row" mat-ripple>
                        <div class="col-md-10 strong-text pt-1">
                        Loot
                        </div>
                        <div class="col-2">
                        <mat-icon svgIcon="caret_down"></mat-icon>
                        </div>
                    </div>
                    <small class="text-grey">Available balance 999,999,999.99 CDF</small>
                    <mat-divider class="col-md-11 mt-2"></mat-divider>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3 col-sm-3">
                      <small class="text-grey">Amount</small><br> 
                      <div mat class="d-flex flex-row" mat-ripple>
                          <div class="col-md-9 col-sm-6 strong-text pt-1">
                          KES
                          </div>
                          <div class="col-2">
                          <mat-icon svgIcon="caret_down"></mat-icon>
                          </div>
                      </div>
                      <mat-divider class="col-md-12 mt-2"></mat-divider>
                  </div> 
  
                  <div class="col-md-9 col-sm-6 pt-4">
                          <div class="col-md-6 text-grey pt-1">
                          Enter an amount
                          </div>
                      <mat-divider class="col-md-11 mt-2"></mat-divider>
                  </div> 
              </div>
  
              <div class="pt-4">
                <small class="text-grey">FX reference ID</small><br> 
                <div mat mat-ripple>
                    <div class="col-md-8 text-grey pt-1">
                        Enter FX reference ID
                    </div>
                </div>
                <mat-divider class="col-md-11 mt-2"></mat-divider>
            </div>
  
              </div>
              <div class="col-md-6 col-sm-6 pt-4">
                <div>
                  <small class="text-grey">Send to</small><br> 
                  <div mat class="d-flex flex-row" mat-ripple>
                      <div class="col-md-10 text-grey pt-1">
                      Select an account
                      </div>
                      <div class="col-2"> 
                      <mat-icon svgIcon="caret_down"></mat-icon>
                      </div>
                  </div>
                  <mat-divider class="col-md-11 mt-2"></mat-divider>
              </div>  
              
              <div class="pt-4">
                  <small class="text-grey">Schedule payment</small><br> 
                  <div mat class="d-flex flex-row" mat-ripple>
                      <div class="col-md-10 text-grey pt-1">
                      Select a payment date
                      </div>
                      <div class="col-2">
                      <mat-icon class="event_icon">event</mat-icon>
                      </div>
                  </div>
                  <mat-divider class="col-md-11 mt-2"></mat-divider>
              </div>
  
              <div class="pt-4">
                  <small class="text-grey">Payment reason</small><br> 
                  <div mat mat-ripple>
                      <div class="col-md-8 text-grey pt-1">
                      optional
                      </div>
                  </div>
                  <mat-divider class="col-md-11 mt-2"></mat-divider>
              </div>
              </div>
            </div>
            <div class="mt-4 pt-5">
              <button mat-flat-button disabled class="px-5">Send money</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  