<div class="row" *ngIf="!completed">
  <div class="col-md-12">
    <div class="row mb-4 justify-content-md-center">
      <div class="col-md-11">
        <div class="mb-3">
          <button
            mat-icon-button
            aria-label="Back"
            class="back-icon"
            routerLink="/service-request/"
          >
            <div class="strong-text">
              <mat-icon svgIcon="caret_left"></mat-icon>
              <span>Edit Company Limit</span>
            </div>
          </button>
        </div>
        <h3 class="strong-text">Please enter details</h3>
        <form
          [formGroup]="editCompanyDataForm"
          (submit)="submit()"
          class="d-flex flex-column"
          autocomplete="off"
        >
          <div class="row">
            <div class="col-md-6">
              <app-company-list
                [parentForm]="editCompanyDataForm"
                currencyFieldName="company"
                [defaultData]="corporate?.corporateName"
                label="Company"
                placeholder="Select company"
                fieldName="company"
                formControlName="company"
              ></app-company-list>
            </div>
            <div class="col-md-6">
              <app-transfer-amount
                [parentForm]="editCompanyDataForm"
                currencyFieldName="currency"
                label="Currency"
                placeholder="Enter an amount"
                formControlName="currency"
              >
              </app-transfer-amount>
            </div>
            <div class="col-md-6">
              <app-transaction-limit
                [parentForm]="editCompanyDataForm"
                label="Transaction limit"
                placeholder="Enter transaction limit"
                formControlName="transactionLimit"
                fieldName="transactionLimit"
              >
              </app-transaction-limit>
            </div>
            <div class="col-md-6">
              <app-transaction-limit
                [parentForm]="editCompanyDataForm"
                label="Daily limit"
                placeholder="Enter daily limit"
                formControlName="dailyLimit"
                fieldName="dailyLimit"
              >
              </app-transaction-limit>
            </div>
            <div class="col-md-6">
              <app-transaction-limit
                [parentForm]="editCompanyDataForm"
                label="Weekly limit"
                placeholder="Enter weekly limit"
                formControlName="weeklyLimit"
                fieldName="weeklyLimit"
              >
              </app-transaction-limit>
            </div>
            <div class="col-md-6">
              <app-transaction-limit
                [parentForm]="editCompanyDataForm"
                label="Monthly limit"
                placeholder="Enter monthly limit"
                formControlName="monthlyLimit"
                fieldName="monthlyLimit"
              >
              </app-transaction-limit>
            </div>
          </div>
          <div class="mt-4">
            <button
              mat-raised-button
              [disabled]="editCompanyDataForm.invalid"
              color="primary"
            >
              {{ updateMode ? "Update" : "Submit" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="completed">
  <app-confirmation-completion
    [data]="completionData"
    (confirmationDone)="confirmationDone($event)"
  ></app-confirmation-completion>
</div>
