<div class="row align-items-stretch mb-2 pb-2 cursor-pointer" (click)="select()">
  <div class="col-md-2">
    <img class="rounded-circle img-d" [src]="data.flag" width="60px" height="60px"
      alt="Generic placeholder image">
  </div>
  <div class="col-md-9">
    <div class="row user-list-item" style="height: 60px">
      <div class="col-md-10 d-flex">
        <div class="align-self-center">{{data.name}}</div>
      </div>
      <div class="col-md-2 d-flex">
        <div class="align-self-center">
          <mat-icon color="primary" [svgIcon]="isChecked ? 'check_round' : 'radio_button_off'"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
