<div *ngIf="alertVisible" class="d-flex justify-content-right alert alert-light mat-elevation-z8 float-end">
    <mat-icon class="text-success">check_circle</mat-icon>
    <span style="padding-left: 10px;">{{ alertMessage }}</span>
</div>
<div class="pb-4">
    <div class="mb-3">
        <button mat-icon-button aria-label="Back" class="back-icon" (click)="cancel()">
          <div class="strong-text">
            <mat-icon svgIcon="caret_left"></mat-icon>
            <span>Bulk payment</span>
          </div>
        </button>
    </div>
    <div class="d-flex justify-content-right" *ngIf="!error">
        <mat-icon>info_outline</mat-icon>
        <span class="col-md-7 text-sm text-grey ps-2">
            This is a simplified view your bulk payment information. 
            To see the full details of a payment, click on the three dots under “Action”.
        </span>
    </div>

    <div class="d-flex justify-content-right" *ngIf="error">
      <mat-icon class="error">info_outline</mat-icon>
      <span class="col-md-7 text-sm error ps-2">
        We’re unable to process the payment for {{errorName}}. 
        Click the three dots next to their name to review their details. 
      </span>
    </div>
    
    <form autocomplete="off" [formGroup]="bulkTransferDetailForm">
    <div class="mt-4">
      <div class="mat-elevation-z8 card table-responsive">
        <table class="table rounded">
          <thead>
              <tr>
                  <th>Payment date</th>
                  <th>Payment type</th>
                  <th>Beneficiary name</th>
                  <th>Bank</th>
                  <th>Amount</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody formArrayName="bulkData" *ngFor="let item of bulkData.controls; let i = index">
              <tr [formGroupName]="i">
                    <td>
                      <input
                      matInput 
                      type="text"
                      class="input-border" 
                      name="paymentDate" 
                      readonly
                      formControlName="paymentDate"
                      [ngClass]="{'error': bulkData.controls[i]?.get('beneficiaryAccountNumber')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('debitAccountNumber')?.errors?.pattern ||
                                  bulkData.controls[i]?.get('beneficiaryMobile')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('paymentType')?.hasError('required') || 
                                  bulkData.controls[i]?.get('beneficiaryBank')?.hasError('required') ||
                                  bulkData.controls[i]?.get('amount')?.hasError('required')}"
                      >
                    </td>
                    <td>
                      <input
                      matInput 
                      type="text"
                      class="input-border" 
                      name="paymentType" 
                      readonly
                      formControlName="paymentType"
                      [ngClass]="{'error': bulkData.controls[i]?.get('beneficiaryAccountNumber')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('debitAccountNumber')?.errors?.pattern ||
                                  bulkData.controls[i]?.get('beneficiaryMobile')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('paymentType')?.hasError('required') || 
                                  bulkData.controls[i]?.get('beneficiaryBank')?.hasError('required') ||
                                  bulkData.controls[i]?.get('amount')?.hasError('required')}"
                      >
                    </td>
                    <td>
                      <input
                      matInput 
                      type="text"
                      class="input-border" 
                      name="beneficiaryName" 
                      readonly
                      formControlName="beneficiaryName"
                      [ngClass]="{'error': bulkData.controls[i]?.get('beneficiaryAccountNumber')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('debitAccountNumber')?.errors?.pattern ||
                                  bulkData.controls[i]?.get('beneficiaryMobile')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('paymentType')?.hasError('required') || 
                                  bulkData.controls[i]?.get('beneficiaryBank')?.hasError('required') ||
                                  bulkData.controls[i]?.get('amount')?.hasError('required')}"
                      >
                    </td>
                    <td>
                      <input
                      matInput 
                      type="text"
                      class="input-border" 
                      name="beneficiaryBank" 
                      readonly
                      formControlName="beneficiaryBank"
                      [ngClass]="{'error': bulkData.controls[i]?.get('beneficiaryAccountNumber')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('debitAccountNumber')?.errors?.pattern ||
                                  bulkData.controls[i]?.get('beneficiaryMobile')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('paymentType')?.hasError('required') || 
                                  bulkData.controls[i]?.get('beneficiaryBank')?.hasError('required') ||
                                  bulkData.controls[i]?.get('amount')?.hasError('required')}"
                      >
                    </td>
                    <td>
                    <input
                    matInput 
                    type="text"
                    class="input-border" 
                    name="amount" 
                    readonly
                    formControlName="amount"
                    [ngClass]="{'error': bulkData.controls[i]?.get('beneficiaryAccountNumber')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('debitAccountNumber')?.errors?.pattern ||
                                  bulkData.controls[i]?.get('beneficiaryMobile')?.errors?.pattern || 
                                  bulkData.controls[i]?.get('paymentType')?.hasError('required') || 
                                  bulkData.controls[i]?.get('beneficiaryBank')?.hasError('required') ||
                                  bulkData.controls[i]?.get('amount')?.hasError('required')}"
                    >
                  </td>
                  <td>
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="openActionsMenu(item.value.id)"
                    >
                      <mat-icon matSuffix [matMenuTriggerFor]="menu">more_horiz</mat-icon>
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
    </form> 

    <div>  
        <mat-menu #menu="matMenu" xPosition="before" class="my-menu">
          <div class="row cursor-pointer" (click)="viewDetails()">
            <div class="col-md-3 pb-1">
              <button mat-fab class="button_icon">
                <mat-icon svgIcon="eyes_view"></mat-icon>
              </button>
            </div>
            <div class="col-md-8 card card-block justify-content-center">
              <span>View payment details</span>
            </div>
          </div>
          <mat-divider class="pb-1"></mat-divider>
          <div class="row cursor-pointer" (click)="deleteBeneficiary()">
            <div class="col-md-3">
              <button mat-fab class="button_icon">
                <mat-icon svgIcon="delete-documents"></mat-icon>
              </button>
            </div>
            <div class="col-md-8 card card-block justify-content-center">
              <span>Delete beneficiary</span>
            </div>
          </div>    
        </mat-menu>
    </div>

    <div class="col-md-12 p-3 d-flex justify-content-between bg-light mt-4">
        <div class="strong-text">Total amount</div>
        <div class="strong-text">KES {{totalAmount}}</div>
    </div>
    <div class="row mt-4">
        <div class="col-md-2">
            <button mat-raised-button 
            type="submit" 
            color="primary"
            [disabled]="bulkTransferDetailForm.invalid" 
            class="px-5" 
            (click)="getTransferCharges()"
            >
            Submit
          </button>
        </div>
        <div class="col-md-3">
            <button mat-stroked-button type="button" color="primary" class="px-5" (click)="cancel()">Cancel</button>
        </div>
    </div>
    
</div>