table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
  }
  
  td,
  th {
    color: var(--black);
    font-size: 12px;
  }
  
  th {
    font-weight: 600;
    background-color: #e9eaea;
  }

  .button_icon {
    background: rgba(146, 148, 151, 0.2);
    box-shadow: none;
  }
  
  .card{
    border: none !important;
  }
  
  ::ng-deep .my-menu {
    width: 290px;
    overflow: hidden !important;
  }

.error {
    color: #E60000;
}